---
layout: rg/page
---

{% assign job = site.data.career.employment.jobs2[page.job-index] %}
{% assign position = job.positions[page.job-position-index] %}

{% capture _header_content %}
	<div>{{ position.title }}, {{ position.duration }}</div>
{% endcapture %}
{% include perfolio/page/body/page-content-header.html title=job.company content=_header_content %}

<article class="rg-page-content-main">
	<section>
		<h4>Description</h4>
		<div>
			{{ position.description }}
		</div>
	</section>
	
	{% if position.responsibilities %}
		<section>
			<h4>Responsibilies</h4>
			<div>
				<ul class="rg-ul-marker-fa-chevron">
					{% for responsibility in position.responsibilities %}
						<li>{{ responsibility }}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	{% endif %}
	
	{% if position.achievements %}
		<section>
			<h4>Achievements</h4>
			<div>
				<ul class="rg-ul-marker-fa-chevron">
					{% for achievement in position.achievements %}
						<li>{{ achievement }}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	{% endif %}
</article>