.jkt-career-construction-skills-searchbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;
	margin-bottom: 10px;
}

.jkt-career-construction-skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 20px;
}

.jkt-career-construction-skill {
	padding: 1rem;
}