.jkt-site-construction-project {
	display: grid;
	grid-row-gap: 1em;
	grid-template-areas:
		"ps"
		"pt"
		"pd";
	align-items: center;
	
	
	
	> section {
		margin-bottom: 0 !important;
	}
}

.jkt-site-construction-project-summary {
	grid-area: ps;
	align-self: start;
	
	> h1 {
		font-size: 50px !important;
		font-weight: bold !important;
		line-height: 1.1 !important;
	}
}

.jkt-site-construction-project-summary-sub {
	font-size: 18px;
	color: #636363;
	margin-bottom: 10px;
}

.jkt-site-construction-project-thumbnails {
	grid-area: pt;
	align-self: start;
	padding: 10px;
	@include themify() {
		background: v(cheapthycable-overview-background-color);
		border-color: v(cheapthycable-overview-border-color);
	}
	border-style: solid;
	border-width: 1px;
}

.jkt-site-construction-project-description {
	grid-area: pd;
	align-self: start;
	
	> span {
		font-weight: 400 !important;
	}
}

@media (min-width: $device-width-breakpoint-large) {
	$tsd-large-device-home-marketing-photo-max-width: 400px;
	
	.jkt-site-construction-project {
		grid-template-columns: minmax(min-content, $tsd-large-device-home-marketing-photo-max-width) 1fr;
		grid-column-gap: 2rem;
		grid-row-gap: 0;
		grid-template-areas:
			"pt	ps"
			"pt pd";
	}
}