---
layout: default
title: &title "Projects"
---

<div class="page-content">
	{% capture _header_content %}
		{{ site.data.projects.description }}
	{% endcapture %}
	{% include page-content-header.html title=page.title content=_header_content %}
	
	<section class="page-content-main">
		<section class="articles">
			{% for project in site.data.projects.projects %}
				{% include snippets/prepend-baseurl.html path=project.path %}
				{% include list-item-page-preview.html 
					heading=project.title 
					description=project.description
					url=__return %}
			{% endfor %}
		</section>
	</section>
</div>