---
layout: gallery
title: &title "TSD Office Network Upgrade"
gallery:
  - url: /assets/images/gallery/tsd-network/001.jpg
    image_path: /assets/images/gallery/tsd-network/001-th.jpg
    alt: "network room 1"
    title: "This is a before photo of the network room. What a mess!"
    class: custom-mfp-vertical
  - url: /assets/images/gallery/tsd-network/002.jpg
    image_path: /assets/images/gallery/tsd-network/002-th.jpg
    alt: "network room 2"
    title: "New server rack is up and 4 offices hard wired."
    class: custom-mfp-horizontal
  - url: /assets/images/gallery/tsd-network/003.jpg
    image_path: /assets/images/gallery/tsd-network/003-th.jpg
    alt: "network room 3"
    title: "Close up of the rack in progress. Still a ways to go."
    class: custom-mfp-vertical
  - url: /assets/images/gallery/tsd-network/004.jpg
    image_path: /assets/images/gallery/tsd-network/004-th.jpg
    alt: "network room 4"
    title: "Finished!"
    class: custom-mfp-horizontal
  - url: /assets/images/gallery/tsd-network/005.jpg
    image_path: /assets/images/gallery/tsd-network/005-th.jpg
    alt: "network room 5"
    title: "Finished! For now."
    class: custom-mfp-vertical
  - url: /assets/images/gallery/tsd-network/006.jpg
    image_path: /assets/images/gallery/tsd-network/006-th.jpg
    alt: "network room 6"
    title: "Close up of the new rack."
    class: custom-mfp-horizontal
---

<div class="page-content">
	{% include page-content-header.html title='TSD Office Network Upgrade' content='' %}
	
	<section class="page-content-main">
		<section>
			<h4 class="heading heading-leading-vertical-bar">About the Project</h4>
			<p>
				
				
				
				
				
				When I started with <a href="{% link cv/tsd.html %}">Triangle Site Design</a>, all the desktop computers had 
				wireless cards.there were 2 wireless routers serving all the desktop and laptops.
				
				Cisco switch whose limit with firewall protection was 50 mbps
				
					<ul>
						<li>Desktop computers </li>
						<li>Cisco Meraki MX60</li>
							Stateful firewall throughput 100 Mbps
							Advanced security throughput 50 Mbps
							Recommended use cases - 20 users
					</ul>
					
					Computers network connectivity were slow. Updating the drivers on the wireless cards helped. But computers
					were still maxing out at 50 mpbs
					
					Bottlenecking and latency - all traffic was being filter through 2 access points who switching capability 
					was suspect
					
					Expandability was limited - we later added IP phones
					
					
					
			</p>
		</section>
		
		<section>
			<h4 class="heading heading-leading-vertical-bar">Equipment</h4>
		</section>
		
		<section>
			<h4 class="heading heading-leading-vertical-bar">Benefit</h4>
		</section>
		
		<section>
			<h4 class="heading heading-leading-vertical-bar">Future Enhancements</h4>
		</section>
		
		<section>
			<h4 class="heading heading-leading-vertical-bar">Pictures</h4>
			
			{% include magnific-popup-gallery.html caption="This is a sample gallery with **Markdown support**." %}
		</section>
	</section>
</div>