---
layout: jkt-site/page
---

{% include jkt-site/page/body/page-content-header.html title=project.title %}

<article class="jkt-page-content-main">
	<section class="jkt-construction-project">
		<div class="jkt-construction-project-body">
			{% assign gallery = page.galleries[0] %}
			{% if gallery %}
				<section class="jkt-construction-project-thumbnails" style="{% if page.thumbnail-gallery-width %}width: {{ page.thumbnail-gallery-width }};{% endif %}">
					{% include jkt-module-commons/components/gallery/thumbnails.html gallery=gallery %}
				</section>
			{% endif %}
			{{ content }}
		</div>
	</section>
</article>