$pf-cv-font-size: 0.875rem;

.pf-cv-text {
	font-size: $pf-cv-font-size;
}

.pf-cv-link {
	color: $pf-theme-text-color-secondary;
	text-decoration: none;
	background-color: transparent;
	&:hover {
		color: $pf-theme-color-primary;
	}
}

.pf-cv-wrapper {
	padding: 1.5rem;
	border: 1px solid rgba(0, 0, 0, 0.025);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.pf-cv-wrapper .pf-quote {
	font-size: $pf-cv-font-size;
}

.pf-cv-wrapper {

h1, h2, h3, h4, h5, h6 {
	color: $pf-theme-text-color-primary;
	font-weight: bold;
	padding: 0.5rem;
}

}

.pf-cv-header {
	text-align: center;
}

.pf-cv-header-title {
	margin-bottom: 0;
	font-size: 2.75rem;
	font-weight: 900;
	letter-spacing: 0.4rem;
	color: $pf-theme-color-primary;
	text-transform: uppercase;
}

.pf-cv-header-tagline {
	font-size: 1.25rem;
	font-weight: 300;
	
	i {
		margin-right: 0.5rem;
	}
}

.pf-cv-section-heading {
	border-bottom: 3px solid $pf-theme-color-primary;
	
	h4 {
		@extend .pf-heading;
	}
}

.pf-cv-section-content {
	padding: .5rem;
}

.cv-recommendation-row-gap {
	margin-bottom: 1rem;
}

.pf-cv-work-history-item {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	margin-bottom: 1rem;
}

.pf-cv-work-history-item-employer {
	font-size: 1rem;
	color: $pf-theme-color-primary
}

.pf-cv-work-history-item-position {
	font-size: $pf-cv-font-size;
}

.pf-cv-work-history-item-years-worked {
	font-size: 0.75rem;
}

.pf-cv-list-items {
	padding-left: inherit;
	li {
		font-size: $pf-cv-font-size;
	}
}

.pf-cv-download-options {
	margin-top: 15px;
	text-align: center;
}

@media (min-width: $device-width-breakpoint-medium) {
	.pf-cv-wrapper {
		padding: 1.5rem;
	}
	
	.pf-cv-section-content {
		padding: .8rem;
	}
	
	.pf-cv-work-history-item {
		grid-template-columns: 250px 1fr;
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.pf-cv-wrapper {
		padding: 3rem;
	}
	
	.pf-cv-section-content {
		padding: 1rem;
	}
	
	.pf-cv-work-history-item {
		grid-template-columns: 300px 1fr;
	}
}