<!--
	{@link _data-structures/job.json}
-->
<div class="jkt-career-employment-grid-item">
	<div class="jkt-career-employment-grid-item-header">
		<div class="jkt-career-employment-grid-item-badge">{{ include.position-duration-number-of-years | capitalize }}</div>
		{% if include.company-logo-relative-path %}
			<img src="{{ include.company-logo-relative-path | relative_url }}" alt="{{ include.company-name }}">
		{% else %}
			<h4><a href="{{ include.position-internal-page-relative-url | relative_url }}">{{ include.company-name }}</a></h4>
		{% endif %}
		<h5>{{ include.position-title }}</h5>
		<h6>{{ include.position-duration-date-to-date }}</h6>
	</div>
	<div class="jkt-hr-gradient-divider"></div>
	<div class="jkt-grid-item-body">
		<p>
			{{ include.position-description | strip_html }}
		</p>
		<br/>
		<a class="jkt-link-arrow" href="{{ include.position-internal-page-relative-url | relative_url }}">Read more</a>
	</div>
</div>