<div class="jkt-career-project-grid-item">
	<div class="jkt-career-project-grid-item-header">
		<h4><a href="{{ include.project.internal-page-relative-url | relative_url }}">{{ include.project.name }}</a></h4>
	</div>
	<div class="jkt-hr-gradient-divider"></div>
	<div class="jkt-grid-item-body">
		<p>
			{{ include.project.description | strip_html }}
		</p>
		<br/>
		<a class="jkt-link-arrow" href="{{ include.project.internal-page-relative-url | relative_url }}">Read more</a>
	</div>
</div>