<ol>
	<li id="{{ site.data.jkt-site.career.skills.proficiency-level1-id }}">
		<p>
			Have basic awareness and comprehension of the skill and is in the process of acquiring 
			this skill through various channels.
		</p>
	</li>
	<li id="{{ site.data.jkt-site.career.skills.proficiency-level2-id }}">
		<p>
			Possess working knowledge of the skill, and can actively and independently apply this 
			skill in engagements and projects.
		</p>
	</li>
	<li id="{{ site.data.jkt-site.career.skills.proficiency-level3-id }}">
		<p>
			Comprehensive, in-depth and specialized knowledge of the skill. Have extensively 
			demonstrated successful application of the skill in engagements or projects.
		</p>
	</li>
	<li id="{{ site.data.jkt-site.career.skills.proficiency-level4-id }}">
		<p>
			Can function as a subject matter expert for this skill and capable of analyzing, 
			evaluating and synthesizing solutions using the skill.
		</p>
	</li>
</ol>