.custom-mfp-gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
}

.custom-mfp-gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.custom-mfp-gallery a {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-mfp-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-mfp-horizontal {
    grid-column: span 2;
}

.custom-mfp-vertical {
    grid-row: span 2;
}

.custom-mfp-big {
    grid-column: span 2;
    grid-row: span 2;
}