// Uses 7-1 pattern - https://sass-guidelin.es/#architecture

@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/variables";
@import "abstracts/mixins/hover";
@import "abstracts/mixins/opacity";

@import "vendors/normalize";
@import "vendors/fontawesome-free-5.15.3-web/fontawesome.scss";
@import "vendors/fontawesome-free-5.15.3-web/solid.scss";
@import "vendors/fontawesome-free-5.15.3-web/brands.scss";

@import "base/reset";

@import "components/align";
@import "components/buttons";
@import "components/footnotes";
@import "components/headings";
@import "components/images";
@import "components/links";
@import "components/lists";
@import "components/paging";
@import "components/quote";

@import "layout/page";
@import "layout/article";

@import "pages/career";
@import "pages/cv";