---
layout: jkt-site/page
title: &title "Construction"
masonry-grids: true
easy-pie-charts:
  - id: pie-chart
    data-text-id: pie-chart-percent
---

{% assign recommendations = '' | split: '' %}
{% assign recommendations = recommendations | push: site.data.jkt-site.career.recommendations.recommendations[site.data.jkt-site.career.recommendations.recommendation-index.duke] %}

{% capture _header_content %}
	{% include jkt-site/components/career/social-icons.html
			cv-url='construction/cv'
			show-github=false %}
{% endcapture %}
{% include jkt-site/page/body/page-content-header.html title='Construction' content=_header_content %}

<article class="jkt-page-content-main">
	<section>
		<h3>Recommendations</h3>
		
		<div>
			<ul class="jkt-list-ul-no-markers">
				{% for recommendation in recommendations %}
					<li>
					{% include jkt-module-commons/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	
	<section>
		<h3>Work History</h3>
		
		<section class="jkt-page-preview-list">
			{% include jkt-site/components/career/employment-grid.html industry='construction' %}
		</section>
	</section>
	
	<section style="padding-bottom: 25px;">
		<h3>Skills</h3>
		
		<section class="jkt-career-skills-grid">
			{% for skill in site.data.jkt-site.career.construction.skills.land-development %}
					{% include jkt-site/components/career/civil-skill-item.html
						skill-level-percentage=skill.knowledge-percent
						skill-level-stage=skill.knowledge-stage
						skill=skill.topic
						skill-description=skill.description %}
				{% endfor %}
		</section>
		
		<div class="hbc-chart">
			{% include jkt-site/components/horizontal-bar-chart/grid.html
				title=site.data.jkt-site.career.construction.skills.land-development-scale.title
				units=site.data.jkt-site.career.construction.skills.land-development-scale.units %}
			
			<div class="hbc-stacked-bars">
				{% for skill in site.data.jkt-site.career.construction.skills.land-development %}
					{% include jkt-site/components/horizontal-bar-chart/titled-bar.html
			  			title=skill.topic
						label=skill.knowledge-stage
						percent-value=skill.knowledge-percent %}
				{% endfor %}
		  	</div>
		</div>
		
		<!--<div class="hbc-chart">
			{% comment %}
			{% include jkt-site/components/horizontal-bar-chart/grid.html
				title=site.data.jkt-site.career.construction.skills.technology-skill-scale.title
				units=site.data.jkt-site.career.construction.skills.technology-skill-scale.units %}
			
			{% for skill in site.data.jkt-site.career.construction.skills.chart2 %}
				{% include jkt-site/components/horizontal-bar-chart/stacked-bars.html
		  			title=skill.group
					categories=skill.technologies %}
			{% endfor %}
			{% endcomment %}
		</div>-->
	</section>
</article>