<div class="jkt-masonry-grid" data-masonry='{ "itemSelector": ".jkt-masonry-grid-item", "gutter": 20 }'>
	{% for _article in paginator.posts %}
		{% capture _title %}
			Published {{ _article.date | date: "%b %-d, %Y" }}
		{% endcapture %}
		{% if _article.description %}
			{% assign _description = _article.description %}
		{% else if _article.excerpt %}
			{% assign _description = _article.excerpt %}
		{% endif %}
		
		{% include jkt-module-commons/helpers/prepend-baseurl.html path=_article.url %}
		{% include jkt-module-commons/components/list/grid/masonry/grid-item.html
			author-id=_article.author-id
			heading=_article.title
			image-path=_article.image-path
			date=_article.date
			title=_title
			description=_description
			url=__return %}
	{% endfor %}
</div>

{% include jkt-module-commons/components/list/paging-buttons.html %}