---
layout: default
permalink: /articles/
title: &title "Articles"
---

<div class="page-content">
	{% capture _header_content %}
		{{ site.content.articles_description }}
	{% endcapture %}
	{% include page-content-header.html title=page.title content=_header_content %}
	
	<section class="page-content-main">
		<section class="articles">
			{% include snippets/prepend-baseurl.html path='howtos' %}
			{% include page-preview-link.html 
				heading=site.content.articles.howtos.title 
				description=site.content.articles.howtos.description
				url=__return %}
			
			{% include snippets/prepend-baseurl.html path='notes' %}
			{% include page-preview-link.html 
				heading=site.content.articles.notes.title 
				description=site.content.articles.notes.description
				url=__return %}
		</section>
	</section>
</div>