---
layout: default
permalink: /articles/
title: &title "Articles"
---

<div class="page-content">
	{% capture _header_content %}
		{{ site.data.articles.description }}
	{% endcapture %}
	{% include page-content-header.html title=page.title content=_header_content %}
	
	<section class="page-content-main">
		<section class="articles">
			{% for collection in site.data.articles.collections %}
				{% include snippets/prepend-baseurl.html path=collection.path %}
				{% include list-item-page-preview.html 
					heading=collection.title 
					description=collection.description
					url=__return %}
			{% endfor %}
		</section>
	</section>
</div>