---
layout: jkt-site/page
title: &title "Information Technology"
masonry-grids: true
---

{% capture _header_content %}
	<div>
		{% assign cv-url = 'career/information-technology/cv' | relative_url %}
		{% include jkt-site/components/icons/fa/resume-circle-icon.html url=cv-url fa-x=1 %}
		{% include jkt-site/components/icons/fa/linkedin-circle-icon.html url=site.data.jkt-site.me.social.linkedin.url target-blank=true fa-x=1 %}
		{% include jkt-site/components/icons/fa/github-circle-icon.html url=site.data.jkt-site.me.social.github.url target-blank=true fa-x=1 %}
	</div>
{% endcapture %}
{% include jkt-site/page/body/page-content-header.html title='Information Technology' content=_header_content %}

<article class="jkt-page-content-main">
	<section>
		<h3>Introduction</h3>
		
		<p>
			Graduated from North Carolina State University with a bachelor's degree in computer science in 2003
			and worked in the information technology industry in various roles until 2019 where I ventured into the
			<a href="{% link career/construction/index.html %}">construction industry</a> as a civil designer and project
			manager.
		</p>
		<p>
			Some of my professional IT experience by role:
			<ul class="jkt-ul-marker-fa-chevron">
				<li>
					As a <b>business intelligence developer</b> I worked with databases and transactional information systems 
					while combining and developing a hosts of skills and knowledge to optimize the flow of data within 
					organizations.  My role was to bridge the gap between business users and (the critical company data 
					housed in their technical infrastructure) the technical infrastructure containing critical data about 
					the company. In addition to the exposure of working in various business and technical environments, 
					I enjoyed designing datamarts and creating extract-transform-load (ETL) processes.
				</li>
				<li>
					As a <b>mobile application developer</b> I have developed and published Android and iPhone mobile 
					applications. My professional experience comes in the way of providing mobile access to existing 
					business web applications using native mobile platform SDKs and integrating REST APIs services 
					in to the server side architecture.
				</li>
				<li>
					As a <b>software engineer</b> I have worked on all phases of the software development lifecycle for 
					business applications, primarily developing specialized web applications for small companies.  I have 
					enjoyed working on all aspects of the development stack but found that my strengths lie in working on 
					the server side portion of web applications.
				</li>
				<li>
					As a <b>web developer</b>, particularly web application development, I have become proficient with 
					tools, languages, scripts, server-side programming languages and frameworks to create complex web 
					applications. My professional experience involves designing the layout and navigation 
					as well as developing front-end and back-end functionality of websites and applications.
				</li>
			</ul>
		</p>
	</section>
	
	<section>
		<h3>Recommendations</h3>
		
		<div>
			<ul class="jkt-list-ul-no-markers">
				{% assign recommendations = '' | split: '' %}
				{% assign recommendations = recommendations | push: site.data.jkt-site.career.recommendations.recommendations[site.data.jkt-site.career.recommendations.recommendation-index.ivan] %}
				{% for recommendation in recommendations %}
					<li>
					{% include jkt-module-commons/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	
	<section>
		<h3>Work History</h3>
		
		{% assign jobs = site.data.jkt-site.career.employment.jobs | where: 'industry', "Information Technology" %}
		{% include jkt-site/components/career/employment-grid.html jobs=jobs %}
	</section>
	
	<section>
		<h3>Side Projects</h3>
		
		{% include jkt-site/components/career/project-grid.html %}
	</section>
	
	{% capture _pl1 %}
		PL1 <sup><a href="#fn:pl1" class="footnote">1</a></sup>
	{% endcapture %}
	{% capture _pl2 %}
		PL2 <sup><a href="#fn:pl2" class="footnote">2</a></sup>
	{% endcapture %}
	{% capture _pl3 %}
		PL3 <sup><a href="#fn:pl3" class="footnote">3</a></sup>
	{% endcapture %}
	{% capture _pl4 %}
		PL4 <sup><a href="#fn:pl4" class="footnote">4</a></sup>
	{% endcapture %}
	
	<section>
		<a class="jkt-anchor" id="skills"></a>
		<h3>Skills</h3>
		
		{% assign skills = site.data.jkt-site.career.information-technology.skills.tech | where_exp: "item", "item.category != 'Other'" %}
		{% include jkt-site/components/career/information-technology-skill-grid.html skills=skills %}
		
		{% assign skills = site.data.jkt-site.career.information-technology.skills.tech | where: 'category', "Other" %}
		<div class="jkt-career-construction-skills">
			{% for skill in skills %}
				<div class="jkt-panel jkt-career-construction-skill">
	            	{{ skill.skill }}
	        	</div>
        	{% endfor %}
		</div>
	</section>
	
	<div class="jkt-footnotes">
		<ol>
			<li id="fn:pl1">
				<p>
					PL1 - Have basic awareness and comprehension of the skill and is in the process of acquiring 
					this skill through various channels.
				</p>
			</li>
			<li id="fn:pl2">
				<p>
					PL2 - Possess working knowledge of the skill, and can actively and independently apply this 
					skill in engagements and projects.
				</p>
			</li>
			<li id="fn:pl3">
				<p>
					PL3 - Comprehensive, in-depth and specialized knowledge of the skill. Have extensively 
					demonstrated successful application of the skill in engagements or projects.
				</p>
			</li>
			<li id="fn:pl4">
				<p>
					PL4 - Can function as a subject matter expert for this skill and capable of analyzing, 
					evaluating and synthesizing solutions using the skill.
				</p>
			</li>
		</ol>
	</div>
</article>