.jkt-about-experience-grid-item {
	@extend .jkt-border-solid-1;
	@extend .jkt-border-color-gray84;
	@extend .jkt-border-rounded-20;
	@extend .jkt-border-box-shadow-gray84;
	
	h4 {
		text-transform: uppercase;
	}
}

.jkt-about-experience-grid-item-header {
	position: relative;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	
	img {
		width: 125px;
	}
}

.jkt-about-project-grid-item {
	@extend .jkt-border-solid-1;
	@extend .jkt-border-color-gray84;
	@extend .jkt-border-rounded-20;
	@extend .jkt-border-box-shadow-gray84;
	
	h4 {
		text-transform: uppercase;
	}
}

.jkt-about-project-grid-item-header {
	position: relative;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
}

.jkt-about-skill-grid-item {
	padding: 1rem;
	text-align: center;
	margin-bottom: 20px;
}

.jkt-about-skills-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 20px;
}

.jkt-about-skills-list-item {
	padding: 1rem;
}