.rg-page-content-main {
	@extend .pf-page-content-main;
	
	> section {
		> h3, > h4, > h6 {
			@extend .pf-heading-line-separator;
		}
	}
	
	section:not(:last-child) {
		margin-bottom: 1rem;
	}
	
	.rg-career-employment .pf-career-employment-list-item-grid:not(:last-of-type) {
		margin-bottom: 1rem;
	}
}