.jkt-blog-posts-grid {
	@include make1ColumnGrid();
}

.jkt-posts-grid-item {
	@include make1ColumnGridColumn();
	
	display: flex;
	flex-direction: column;
	
	border: 1px solid #d6d9dc;
	box-shadow: 0 0.75rem 1.5rem 2px #d6d9dc;
	border-radius: 7px;
	
	img {
		width: 100%;
		border-style: none;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		margin-bottom: 0px;
	}
	
	margin-bottom: 20px;
}

.jkt-posts-article-thumbnail {
	@include themify() {
		margin-bottom: calc(#{v(posts-article-author-avatar-size)} / 2);
	}
	
	.jkt-posts-article-badge {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
		background-color: rgba(0, 30, 69, 0.8);
		color: $color-white;
		border-radius: 50px;
		padding: 5px;
		font-size: 11px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.jkt-posts-article-author-avatar {
	width: 100%;
	height: 0;
	position: relative;
	@include themify() {
		top: calc((#{v(posts-article-author-avatar-size)} * -2) / 2);
	}
	
	img {
		margin-left: 1.5rem;
		@include themify() {
			width: v(posts-article-author-avatar-size);
			height: v(posts-article-author-avatar-size);
		}
		border-radius: 50%;
	}
}

.jkt-posts-article-body {
	padding: 1.5rem;
	
	.date {
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 0;
	}
}

.jkt-posts-article-top-delimiter {
	position: relative;
	
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 80%;
		height: 1px;
		margin-left: -40%;
		content: '';
		background: radial-gradient(ellipse at center, #dee4ef 0, rgba(255,255,255,0) 75%);
	}
}

.jkt-posts-article-footer {
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	span {
		font-size: 0.9rem;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-blog-posts-grid {
		@include make2ColumnGrid();
	}
	
	.jkt-posts-grid-item {
		@include make2ColumnGridColumn();
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.jkt-blog-posts-grid {
		@include make3ColumnGrid();
	}
	
	.jkt-posts-grid-item {
		@include make3ColumnGridColumn();
	}
}