---
layout: theme-site/page
title: &title "CheapThyCable.com"
masonry-grids: true
---

{% assign project = site.data.this-site.about.information-technology.projects.on-the-side[site.data.this-site.about.information-technology.projects.on-the-side-index.cheapthycable] %}
{% assign github-cheapthycable-repo-url = site.data.theme-site.me.social.github.repository.cheapthycable | prepend: '/' | prepend: site.data.theme-site.me.social.github.url %}
{% assign cheapthycable-website = site.data.this-site.about.information-technology.projects.on-the-side[site.data.this-site.about.information-technology.projects.on-the-side-index.cheapthycable].website %}

{% include this-site/layout/page-body-header.html title=project.title %}

<article class="jkt-page-body-main">
	<section class="jkt-panel jkt-project-cheapthycable-overview-grid">
		<img class="jkt-project-cheapthycable-overview-image" src="{% link assets/this-site/images/about/information-technology/projects/cheapthycable/computer-screen.png %}" alt="image">
		
		<div>
			<strong>Source Code:</strong>&nbsp;<a href="{{ github-cheapthycable-repo-url }}">GitHub repository</a>
			<br/><br/>
			A crowdsourcing web application that allowed participants to see and analyze what others were paying for cable and internet services in their area with the goal of providing them leveraging power in negotiating lower monthly payments with their service provider. This product was under development and publicly accessible from August 2016 to October 2017. Though defunct, the application is running on Amazon AWS and hosted under my personal domain as part of my portfolio.
		</div>
	</section>
	
	<section>
		<h4>Overview</h4>
		<p>
			As sole developer on this project, I worked on it in my spare time in late 2016. The product 
			was originally hosted on Google Cloud Platform utilizing Bitnami to quickly provide my hosted 
			web application stack.
		</p>
		<p>
			The idea behind the product was to gather some basic (non-personal) information about someone's 
			cable bill such as: what is their bill total, what is their billing zip code and what services they 
			are subscribed for.  The flow was very simple: the user would signup, provide information about 
			their bill and then have access to look at similar information provided by their neighbors.
		</p>
		<p>
			One of the key problems that I had to solve was providing user's the ability to filter out 
			only bills within a vicinity i.e. within a 25 mile radius.  To do this I had to translate the 
			haversine formula in to database queries. Here are links to class files and methods where this 
			was done: <a href="{{ github-cheapthycable-repo-url }}/blob/acd84fee881f6257ce7b622f4f929c6c39adb6cb/src/com/gwn/xcbl/bl/bill/report/BillReportDAO.java#L35">1</a>, 
			<a href="{{ github-cheapthycable-repo-url }}/blob/acd84fee881f6257ce7b622f4f929c6c39adb6cb/src/com/gwn/xcbl/data/query/s/bill/BillSqueryUtils.java#L41">2</a>, <a href="{{ github-cheapthycable-repo-url }}/blob/master/src/com/gwn/xcbl/data/query/s/GeoZipCodeSqueryUtils.java">3</a>.
		</p>
	</section>
	
	<section>
		<h4>Accomplishment</h4>
		<p>
			Though this did not go viral, I had people register from over 20 different states in the US. 
			I learned a tremendous amount, gaining a wealth of knowledge and confidence as a developer.
		</p>
		<p>
			Fun fact - at the time of development there were ~45,000 zip codes in the United States and 
			there are ~150 cable service providers that I could identify.
		</p>
	</section>
	
	<section>
		<h4>Technologies Used</h4>
		
		{% capture _items-content %}
			{% assign skills = site.data.this-site.about.skills.cheapthycable | sort: "skill" %}
			
			{% for skill in skills %}
				<div class="jkt-grid-3c-item jkt-panel jkt-about-skill-grid-item">
					{% if skill.base-png-icon-relative-path %}
						<picture>
							<source srcset="{{ '-150.png' | prepend: skill.base-png-icon-relative-path | relative_url }}" media="(min-width: 992px)"/>
							<img src="{{ '-100.png' | prepend: skill.base-png-icon-relative-path | relative_url }}" alt="{{ skill.skill }}"/>
						</picture>
						<br/>
					{% endif %}
					<b>{{ skill.skill }}</b>
					{% if skill.duration-number-of-years or skill.skill-level-anchor-reference %}
						<br/>
						{{ skill.duration-number-of-years }}
						{% if skill.duration-number-of-years and skill.skill-level-anchor-reference %}
							- 
						{% endif %}
						{% if skill.skill-level-anchor-reference == 1 %}
							PL1 <sup><a href="#fn:pl1" class="footnote">1</a></sup>
						{% elsif skill.skill-level-anchor-reference == 2 %}
							PL2 <sup><a href="#fn:pl2" class="footnote">2</a></sup>
						{% elsif skill.skill-level-anchor-reference == 3 %}
							PL3 <sup><a href="#fn:pl3" class="footnote">3</a></sup>
						{% elsif skill.skill-level-anchor-reference == 4 %}
							PL4 <sup><a href="#fn:pl4" class="footnote">4</a></sup>
						{% endif %}
					{% endif %}
					{% if skill.description %}
						<br/>
						{{ skill.description }}
					{% endif %}
				</div>
			{% endfor %}
		{% endcapture %}

		{% include theme-core/layout/3c-grid.html items-content=_items-content %}
	</section>
</article>