---
layout: theme-site/page
title: &title "Construction"
masonry-grids: true
---

{% assign recommendations = '' | split: '' %}
{% assign recommendations = recommendations | push: site.data.this-site.about.recommendations.recommendations[site.data.this-site.about.recommendations.recommendation-index.duke] %}

{% capture _header_content %}
	<div>
		<a href="{{ 'about/construction/cv' | relative_url }}" class="jkt-icon-link">
			{% include theme-core/components/icons/fa/file-circle-icon.html fa-x=1 %}
		</a>
		<a href="{{ site.data.me.social.linkedin.url }}" class="jkt-icon-link" target="_blank">
			{% include theme-core/components/icons/fa/linkedin-circle-icon.html fa-x=1 %}
		</a>
		<a href="{{ site.data.me.social.github.url }}" class="jkt-icon-link" target="_blank">
			{% include theme-core/components/icons/fa/github-circle-icon.html fa-x=1 %}
		</a>
	</div>
{% endcapture %}
{% include this-site/layout/page-body-header.html title='Construction' content=_header_content %}

<article class="jkt-page-body-main">
	<section>
		<h3>Recommendations</h3>
		
		<div>
			<ul class="jkt-list-ul-no-markers">
				{% for recommendation in recommendations %}
					<li>
					{% include theme-core/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	
	<section>
		<h3>{{ site.data.this-site.about.experience.label }}</h3>
		
		{% assign companies = site.data.this-site.about.experience.companies | where: 'industry', "Construction" %}
		{% include this-site/components/about/experience-grid.html companies=companies %}
	</section>
	
	<section>
		<h3>Skills</h3>
		
		{% assign skills = site.data.this-site.about.skills.all | where_exp: "item", "item.companies contains 'bowman'" | sort: "skill" %}
		{% include this-site/components/about/skills-list.html skills=skills %}
	</section>
	
	<div class="jkt-footnotes">
		{% include this-site/components/about/skill-proficiency-level-anchors.html %}
	</div>
</article>