<!--
	heading
	projects (list)
		title
		duration
		description
-->
<section class="pf-cv-projects-section">
	<div class="pf-cv-section-heading">
		<h2>{{ include.heading }}</h2>
	</div>
	<div class="pf-cv-section-content">
		{% for project in include.projects %}
			<div class="pf-cv-projects-project">
				<div>
					<div class="pf-cv-projects-project-title">
						{% if project.path %}
							<a class="pf-link-arrow" href="{{ project.path | relative_url }}">{{ project.title }}</a>
						{% else %}
							{{ project.title }}
						{% endif %}
					</div>
					<div>{{ project.duration }}</div>
				</div>
				<div>
					{{ project.description }}
				</div>
			</div>
		{% endfor %}
	</div>
</section>