// https://codepen.io/vajkri/pen/NxzZwL
@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}

$gridLabelBottomOffset: 30;
$chartGap: $gridLabelBottomOffset + 20;
$chartBarHeight: 30px;
$chartBarGap: 10px;

.hbc-chart {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 960px;
	
	&:not(:last-child) {
		margin-bottom: unquote($chartGap + 'px');
	}
}

.hbc-chart ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hbc-title {
	display: block;
	margin: 0 0 10px;
	font-weight: bold;
	//opacity: 0;

	//animation: 1s anim-lightspeed-in ease forwards;

	//.chart--dev & {}
	//.chart--prod & {
	//	animation-delay: 3.3s;
	//}
}

.hbc-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hbc-grid-line {
	height: inherit;
	width: 2px;
	position: absolute;
	background: rgba(#eee, 0.6);
	z-index: -1;
	
	&.l--0 {
		left: 0;
	}
	&.l--20 {
		left: 20%;
	}
	&.l--25 {
		left: 25%;
	}
	&.l--33 {
		left: 33%;
	}
	&.l--40 {
		left: 40%;
	}
	&.l--50 {
		left: 50%;
	}
	&.l--60 {
		left: 60%;
	}
	&.l--66 {
		left: 66%;
	}
	&.l--75 {
		left: 75%;
	}
	&.l--80 {
		left: 80%;
	}
	&.l--99 {
		left: 99%;
	}
	&.l--100 {
		left: calc(100% - 1px);
	}
}

.hbc-grid-line__label {
	display: block;
	width: 100px;
	text-align: center;
	position: absolute;
	bottom: unquote("-" + $gridLabelBottomOffset + "px");
	right: -50px;
	white-space: nowrap;
	
	&.title {
		text-transform: uppercase;
		font-weight: bold;
	}
}

.hbc-stacked-bars {
	width: 100%;
	height: 100%;
	//z-index: 10;
	
	&:not(:first-child) {
		margin-top: $chartBarGap;
	}
}

.hbc-bar {
	$border-rad: 4px;
	height: $chartBarHeight;
	margin-bottom: $chartBarGap;

	//background: linear-gradient(to left, #4cb8c4, #3cd3ad);
	background: $pf-theme-color-primary;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	//opacity: 0;
	//z-index: 15;
	
	span {
		padding-left: 10px;
		line-height: 30px;
		color: white;
	}
	
	//animation: 1s anim-lightspeed-in ease forwards;
}

@keyframes anim-lightspeed-in {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}