{% if page.easy-pie-charts %}
	<style>
		{% for chart in page.easy-pie-charts %}
			.{{ chart.id }} {
				position: relative;
				display: inline-block;
				text-align: center;
			}
			
			.{{ chart.id }} canvas {
				position: absolute;
				top: 0;
				left: 0;
			}
			
			.{{ chart.data-text-id }} {
				display: inline-block;
				line-height: 160px;
				width: 160px;
				z-index: 2;
			}
			
			{% if chart.data-text-append-value %}
				.{{ chart.data-text-id }}:after {
					content: '{{ chart.data-text-append-value }}';
					margin-left: 0.1em;
					font-size: .8em;
				}
			{% endif %}
		{% endfor %}
	</style>
{% endif %}