---
layout: theme-site/page
title: &title "Resume"
head-print-csss:
  - assets/this-site/css/cv/print.css
---

{% include this-site/layout/page-body-header.html title='Resume' %}

<section class="jkt-page-body-main">
	<article class="jkt-cv">
		{% include this-site/components/about/cv/header.html
			name=site.data.theme-site.me.name
			title=site.data.this-site.about.construction.cv.title
			location=site.data.theme-site.me.location
			phone-number=site.data.theme-site.me.phone-number
			website=site.data.theme-site.me.website
			linkedin=site.data.theme-site.me.social.linkedin %}
		
		<hr>
		
		{% include this-site/components/about/cv/introduction.html
			heading=site.data.this-site.about.construction.cv.intro-heading-text
			description=site.data.this-site.about.construction.cv.intro %}
		
		{% include this-site/components/about/cv/experience.html
			heading=site.data.this-site.about.construction.cv.jobs-heading-text
			companies=site.data.this-site.about.experience.companies %}
		
		{% include this-site/components/about/cv/skills.html
			heading=site.data.this-site.about.construction.cv.skills-heading-text
			skills=site.data.this-site.about.construction.skills.computer-skills %}
		
		{% include this-site/components/about/cv/education.html
			heading=site.data.this-site.about.construction.cv.education-heading-text
			degree=site.data.this-site.about.education.bachelors_degree %}
	</article>
	
	<section class="jkt-cv-download-options">
		{% include this-site/components/about/cv/versions.html
			pdf=site.data.this-site.about.construction.cv.version.pdf
			text=site.data.this-site.about.construction.cv.version.text %}
	</section>
</section>