<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
{% if page.include-highlightjs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
{% endif %}

<script>
	$(document).ready(function() {
		$(".rg-page-header-menu-toggler").click(function(e) {
			$(".rg-page-header-navigation").toggleClass("active");
		});

		{% if page.include-highlightjs %}
			document.querySelectorAll('pre code').forEach((block) => {
				hljs.highlightBlock(block);
			});
		{% endif %}
	});
</script>

{% for script in layout.footer-scripts %}
    <script src="{{ script }}"></script>
{% endfor %}