<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
{% if page.include-highlightjs %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/monokai-sublime.min.css" >
{% endif %}
{% for css in layout.head-csss %}
    <link rel="stylesheet" type="text/css" href="{{ css }}">
{% endfor %}
{% for css in layout.head-print-csss %}
	<link rel="stylesheet" type="text/css" href="{{ css }}" media="print">
{% endfor %}