{% if page.mvgallery %}
	{% include snippets/prepend-images-url.html file_name = page.mvgallery.base_path %}
	
	<ul class="mvgallery list-bare u-mv+">
		{% for image in page.mvgallery.images %}
			<li>
				<a href="{{ __return }}/{{ image.base_name }}-1400.jpg">
					<img src="{{ __return }}/{{ image.base_name }}-400.jpg"
						srcset="{{ __return }}/{{ image.base_name }}-400.jpg 400w,
								{{ __return }}/{{ image.base_name }}-600.jpg 600w,
								{{ __return }}/{{ image.base_name }}-800.jpg 800w,
								{{ __return }}/{{ image.base_name }}-1000.jpg 1000w,
								{{ __return }}/{{ image.base_name }}-1200.jpg 1200w,
								{{ __return }}/{{ image.base_name }}-1400.jpg 1400w,
								{{ __return }}/{{ image.base_name }}-1800.jpg 1800w,
								{{ __return }}/{{ image.base_name }}-2400.jpg 2400w"
						sizes="(max-width: 399px) 100%, (max-width: 599px) 50%, (max-width: 799px) 33.33%, 200px"
						alt="{{ image.title }}">
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}