<header class="page-header">
	<div class="page-header-wrapper">
		<div class="page-header-title">
			<h1 class="heading heading-leading-vertical-bar">Ross Godwin</h1>
			
			<button class="page-header-menu-toggler" type="button" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		
		<nav class="page-header-navigation">
			<ul class="unordered-list-no-bullets">
				<li class="{% if page.url == '/' %}active{% endif %}">
					<a href="{{ '/' | relative_url }}">Get Started</a>
				</li>
				<li class="{% if page.url contains 'cv' %}active{% endif %}">
					<a href="{{ '/cv' | relative_url }}">Resume</a>
				</li>
				<li class="{% if page.url contains 'projects' %}active{% endif %}">
					<a href="{{ '/projects' | relative_url }}">Projects</a>
				</li>
				<li class="{% if page.url contains 'articles' %}active{% endif %}">
					<a href="{{ '/articles' | relative_url }}">Articles</a>
				</li>
				<li class="nav-item-separator">
					|
				</li>
				<li>
					<a href="{{ site.linkedin.url }}" target="_blank">
						<i class="fab fa-linkedin fa-2x" data-fa-transform="down-4"></i>
					</a>
				</li>
				<li>
					<a href="{{ site.github.url }}" target="_blank">
						<i class="fab fa-github-square fa-2x" data-fa-transform="down-4"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>