{% if paginator.total_pages > 1 %}
	<nav class="paginator-nav">
		{% if paginator.previous_page %}
			<a class="nav-item nav-link-prev rounded" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="nav-arrow-prev fas fa-long-arrow-alt-left"></i>Previous</a>
		{% endif %}
		
		{% if paginator.page_trail %}
			{% for trail in paginator.page_trail %}
				<a class="nav-item{% if page.url == trail.path %} nav-selected{% endif %} rounded" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
			{% endfor %}
		{% endif %}
		
		{% if paginator.next_page %}
			<a class="nav-item nav-link-next rounded" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="nav-arrow-next fas fa-long-arrow-alt-right"></i></a>
		{% endif %}
	</nav>
{% endif %}