---
layout: theme-site/page
---

{% include this-site/layout/page-body-header.html title=project.title %}

<article class="jkt-page-body-main">
	<section class="jkt-construction-project">
		<div class="jkt-construction-project-body">
			{% assign gallery = page.galleries[0] %}
			{% if gallery %}
				<section class="jkt-panel jkt-construction-project-thumbnails" style="{% if page.thumbnail-gallery-width %}width: {{ page.thumbnail-gallery-width }};{% endif %}">
					{% include theme-core/components/gallery/thumbnails.html gallery=gallery %}
				</section>
			{% endif %}
			{{ content }}
		</div>
	</section>
</article>