---
layout: default
title: &title "Work History - Atlatl"
---

<main class="page-content">
	{% assign job = site.data.cv.jobs[1] %}
	
	{% capture _header_content %}
		{% for position in job.positions %}
			<div><strong>{{ position.title }}</strong>, {{ position.duration }}</div>
		{% endfor %}
	{% endcapture %}
	{% include page-content-header.html title=job.company.name content=_header_content %}
	
	<section class="page-content-main">
		<article>
			<section>
				<h4 class="heading heading-leading-vertical-bar">Recommendations</h4>
				<div class="cv-section-content">
					{% for recommendation in job.recommendations %}
						{% if forloop.index != 1 %}<p>{% endif %}
							{% include quote.html quote=recommendation.quote quote_by=recommendation.by %}
						{% if forloop.index != 1 %}</p>{% endif %}
					{% endfor %}
				</div>
			</section>
			
			<section>
				<h4 class="heading heading-leading-vertical-bar">Responsibilies</h4>
				<div class="cv-section-content">
					{% for responsibility in job.responsibilities %}
						{% if forloop.index != 1 %}<p>{% endif %}
							{% include custom-list-item.html content=responsibility %}
						{% if forloop.index != 1 %}</p>{% endif %}
					{% endfor %}
				</div>
			</section>
			
			<section>
				<h4 class="heading heading-leading-vertical-bar">Achievements</h4>
				<div class="cv-section-content">
					{% for achievement in job.achievements %}
						{% if forloop.index != 1 %}<p>{% endif %}
							{% include custom-list-item.html content=achievement %}
						{% if forloop.index != 1 %}</p>{% endif %}
					{% endfor %}
				</div>
			</section>
		</article>
	</section>
</main>