---
layout: cv
title: &title "Resume"
---

<div class="rg-page-content">
	{% include page-content-header.html title='Resume' %}
	
	<section class="rg-page-content-main">
		<article class="rg-cv-wrapper">
			<section class="rg-cv-header">
				<h4 class="rg-cv-header-title">{{ site.data.cv.name }}</h4>
				<div class="rg-cv-header-tagline">
					{{ site.data.cv.title }}
					<br/>
					{{ site.data.cv.location }}
					<span>&#183;</span>
					<a href="{{ site.website.url }}">{{ site.website.display-url }}</a>
					<br/>
					<div class="rg-cv-text">
						<i class="fab fa-linkedin fa-fw fa-lg mr-2"></i><a class="rg-cv-link" href="{{ site.linkedin.url }}" target="_blank">{{ site.linkedin.display-url }}</a>
						<span>&#183;</span>
						<i class="fab fa-github-square fa-fw fa-lg mr-2 "></i><a class="rg-cv-link" href="{{ site.github.url }}" target="_blank">{{ site.github.display-url }}</a>
					</div>
				</div>
			</section>
			
			<hr>
			
			<section>
				<div class="rg-cv-section-heading">
					<h4 class="rg-heading">Recommendation</h4>
				</div>
				<div class="rg-cv-section-content">
					{% assign recommendation = site.data.cv.jobs[site.data.cv.job_index_atlatl].recommendations[site.data.cv.job_atlatl_recommendation_index_duke] %}
					{% include snippets/quote.html quote=recommendation.quote quote_by=recommendation.by %}
				</div>
			</section>
			
			<section>
				<div class="rg-cv-section-heading">
					<h4 class="rg-heading">How I Add Value</h4>
				</div>
				<div class="rg-cv-section-content">
					<span class="rg-cv-text">
						{{ site.data.cv.intro }}
					</span>
				</div>
			</section>
			
			<section>
				<div class="rg-cv-section-heading">
					<h4 class="rg-heading">Where I Have Worked</h4>
				</div>
				<div class="rg-cv-section-content">
					{% for job in site.data.cv.jobs %}
						{% if forloop.index < 4 %}
							<div class="rg-cv-work-history-item">
								<div>
									<div class="rg-cv-work-history-item-employer">
										{% if job.url %}<a class="rg-link-arrow" href="{{ job.url }}">{% endif %}
										{{ job.company.name }}
										{% if job.url %}</a>{% endif %}
									</div>
									{% for position in job.positions %}
										<div class="rg-cv-work-history-item-position">{{ position.title }}</div>
										<div class="rg-cv-work-history-item-years-worked">{{ position.duration }}</div>
									{% endfor %}
								</div>
								<div class="rg-cv-text">
									{{ job.description }}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
			
			<section>
				<div class="rg-cv-section-heading">
					<h4 class="rg-heading">A Side Project</h4>
				</div>
				<div class="rg-cv-section-content">
					{% for project in site.data.cv.projects %}
						<div class="rg-cv-work-history-item">
							<div>
								<div class="rg-cv-work-history-item-employer">
									{% if project.url %}<a class="rg-link-arrow" href="{{ project.url }}">{% endif %}
									{{ project.name }}
									{% if project.url %}</a>{% endif %}
								</div>
								<div class="rg-cv-work-history-item-years-worked">{{ project.duration }}</div>
							</div>
							<div class="rg-cv-text">
								{{ project.description }}
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			
			<section>
				<div class="rg-cv-section-heading">
					<h4 class="rg-heading">My Education</h4>
				</div>
				<div class="rg-cv-section-content">
					<div class="rg-cv-work-history-item-employer">{{ site.data.cv.education.school }}</div>
					<div class="rg-cv-work-history-item-position">{{ site.data.cv.education.degree }}</div>
					<div class="rg-cv-work-history-item-years-worked">{{ site.data.cv.education.graduated }}</div>
				</div>
			</section>
		</article>
		
		<section class="rg-cv-download-options">
			<a class="rg-btn rg-btn-primary" href="{% link assets/cv/cv.pdf %}" role="button" target="_blank"><i class="rg-btn-left-icon fa fa-file-pdf fa-w-12"></i>PDF Version</a>
			<a class="rg-btn rg-btn-primary" href="{% link assets/cv/cv.txt %}" role="button" target="_blank"><i class="rg-btn-left-icon fa fa-file-alt fa-w-12"></i>Text Version</a>
		</section>
	</section>
</div>