---
layout: default
title: &title "Resume"
---

<div class="page-content">
	{% include page-content-header.html title='Resume' %}
	
	<section class="page-content-main">
		<article class="cv-wrapper">
			<section class="cv-header">
				<h4 class="cv-header-title mb-0">{{ site.data.cv.name }}</h4>
				<div class="cv-header-tagline">
					{{ site.data.cv.title }}
					<br/>
					{{ site.data.cv.location }}
					<span>&#183;</span>
					<a href="{{ site.website.url }}">{{ site.website.display-url }}</a>
					<br/>
					<div class="cv-text">
						<i class="fab fa-linkedin fa-fw fa-lg mr-2"></i><a class="cv-link" href="{{ site.linkedin.url }}" target="_blank">{{ site.linkedin.display-url }}</a>
						<span>&#183;</span>
						<i class="fab fa-github-square fa-fw fa-lg mr-2 "></i><a class="cv-link" href="{{ site.github.url }}" target="_blank">{{ site.github.display-url }}</a>
					</div>
				</div>
			</section>
			
			<hr>
			
			<section>
				<div class="cv-section-heading">
					<h4 class="heading">Recommendations</h4>
				</div>
				<div class="cv-section-content">
					{% assign recommendation = site.data.cv.jobs[1].recommendations[0] %}
					{% include quote.html quote=recommendation.quote quote_by=recommendation.by %}
				</div>
			</section>
			
			<section>
				<div class="cv-section-heading">
					<h4 class="heading">How I Can Add Value</h4>
				</div>
				<div class="cv-section-content">
					<span class="cv-text">
						{{ site.data.cv.intro }}
					</span>
				</div>
			</section>
			
			<section>
				<div class="cv-section-heading">
					<h4 class="heading">Where I've Been</h4>
				</div>
				<div class="cv-section-content">
					{% for job in site.data.cv.jobs %}
						{% if forloop.index < 4 %}
							<div class="cv-work-history-item">
								<div>
									<div class="cv-work-history-item-employer">
										{% if job.url %}<a href="{{ job.url }}">{% endif %}
										{{ job.company.name }}
										{% if job.url %}</a>{% endif %}
									</div>
									{% for position in job.positions %}
										<div class="cv-work-history-item-position">{{ position.title }}</div>
										<div class="cv-work-history-item-years-worked">{{ position.duration }}</div>
									{% endfor %}
								</div>
								<div class="cv-text">
									{{ job.description }}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</section>
			
			<section>
				<div class="cv-section-heading">
					<h4 class="heading">Side Projects I've Initiated</h4>
				</div>
				<div class="cv-section-content">
					{% for project in site.data.cv.projects %}
						<div class="cv-work-history-item">
							<div>
								<span class="cv-work-history-item-employer">
									<a href="{{ project.url }}">{{ project.name }}</a>
								</span>
								<br/>
								<span class="cv-work-history-item-years-worked">{{ project.duration }}</span>
							</div>
							<div class="cv-text">
								{{ project.description }}
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			
			<section>
				<div class="cv-section-heading">
					<h4 class="heading">What I've Learned</h4>
				</div>
				<div class="cv-section-content">
					<div class="cv-work-history-item-employer">{{ site.data.cv.education.school }}</div>
					<div class="cv-work-history-item-position">{{ site.data.cv.education.degree }}</div>
					<div class="cv-work-history-item-years-worked">{{ site.data.cv.education.graduated }}</div>
				</div>
			</section>
		</article>
		
		<section style="margin-top: 15px; text-align: center;">
			{% include snippets/prepend-assets-url.html file_name='cv/cv.pdf' %}
			<a class="btn btn-primary" href="{{ __return }}" role="button" target="_blank"><i class="fa fa-file-pdf fa-w-12 mr-2"></i>PDF Version</a>
			{% include snippets/prepend-assets-url.html file_name='cv/cv.txt' %}
			<a class="btn btn-primary" href="{{ __return }}" role="button" target="_blank"><i class="fa fa-file-alt fa-w-12 mr-2"></i>Text Version</a>
		</section>
	</section>
</div>