---
layout: default
title: &title "Work History - Triangle Site Design"
---

<main class="page-content">
	{% assign job = site.data.cv.jobs[site.data.cv.job_index_tsd] %}
	
	{% capture _header_content %}
		{% for position in job.positions %}
			<div><strong>{{ position.title }}</strong>, {{ position.duration }}</div>
		{% endfor %}
	{% endcapture %}
	{% include page-content-header.html title=job.company.name content=_header_content %}
	
	<section class="page-content-main">
		<article>
			<section>
				<h4 class="heading heading-leading-vertical-bar">Responsibilies</h4>
				<div class="cv-section-content">
					<ul class="ul-chevron">
						{% for responsibility in job.responsibilities %}
							<li>{{ responsibility }}</li>
						{% endfor %}
					</ul>
				</div>
			</section>
			
			<section>
				<h4 class="heading heading-leading-vertical-bar">Achievements</h4>
				<div class="cv-section-content">
					<ul class="ul-chevron">
						{% for achievement in job.achievements %}
							<li>{{ achievement }}</li>
						{% endfor %}
					</ul>
				</div>
			</section>
		</article>
	</section>
</main>