.page-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		// h = header
		// c = content
		// f = footer
		"h"
		"c"
		"f";
	height: 100%;
}

.page-header-wrapper {
	display: flex;
	flex-direction: column;
}

.page-header-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-header-navigation {
	display: none;
}
.page-header-navigation.active {
	display: grid;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.page-header-navigation ul li {
	display: vertical;
}

.page-header-navigation .nav-item-separator {
	display: none;
}

.page-content {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr;
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
}

.page-footer {
	grid-area: f;
	display: flex;
	justify-content: center;
}

.page-content-header {
	grid-area: ch;
}

.page-content-main {
	grid-area: cm;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.page-content-header .page-content-main {
		max-width: 540px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.page-header-menu-toggler {
		display: none;
	}
	
	.page-header-navigation {
		display: block;
	}
	
	.page-header-navigation .nav-item-separator {
		display: inline;
	}

	.page-header-navigation ul li {
		display: inline;
	}
	
	.page-content-header .page-content-main {
		max-width: 720px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.page-content-header .page-content-main {
		max-width: 960px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.page-content-header .page-content-main {
		max-width: 1140px;
	}
}