$small-device-page-left-right-padding: 1rem;
$medium-device-header-height: 7em;
$large-device-header-height: 5em;

.page-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// h = header
		// c = content
		// f = footer
		"h"
		"c"
		"f";
	
	height: 100vh;
}

// ------------- Page Header -----------------
.page-header {
	grid-area: h;
}

.page-header-wrapper {
	display: flex;
	flex-direction: column;
	
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
	
	background-color: $white;
	border-bottom: 1px solid #ccc;
}

.page-header-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-header-menu-toggler {
	@include opacity(0.8);
	padding: 0rem .6rem;
	background-color: transparent;
	border: 0px;
	color: $theme-color-primary;
	
	&:hover {
		@include opacity(1);
	}
}
.page-header-menu-toggler:focus {
    outline: 0 !important;
}

.page-header-navigation {
	display: none;
	text-align: center;
}
.page-header-navigation.active {
	display: grid;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.page-header-navigation ul li {
	display: vertical;
	
	height: 2.35em;
	
	&.active {
		font-weight: bold;
	}
}

.page-header-navigation .nav-item-separator {
	display: none;
	
	color: $theme-color-primary;
}

// ------------- Page Content -----------------
.page-content {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr 10px;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
}

.page-content-header {
	grid-area: ch;
	
	padding-top: .75rem;
	padding-bottom: .75rem;
	background: $theme-bg-light;
	
	.quote {
		background: $white;
	}
}

.page-content-header-inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
}

.page-content-main {
	grid-area: cm;
	
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
}

// ------------- Page Footer -----------------
.page-footer {
	grid-area: f;
	display: flex;
	justify-content: center;
	
	padding: .5em 0;
	
	border-top: 5px solid $theme-color-primary;
}

.page-footer-wrapper {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.page-wrapper {
		grid-template-rows: $medium-device-header-height 1fr auto;
	}

	// ------------- Page Header -----------------
	.page-header {
	}
	
	.page-header-wrapper {
		height: $medium-device-header-height;
		
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		
		text-align: left;
	}
	
	.page-header-navigation {
		display: block;
		text-align: left;
	}
	
	.page-header-navigation .nav-item-separator {
		display: inline;
	}

	.page-header-navigation ul li {
		display: inline;
	}
	
	.page-header-navigation ul li {
		padding-right: 1.4em;
	}
	.page-header-navigation ul li:last-child {
		padding-right: 0em;
	}
	
	.page-header-menu-toggler {
		display: none;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.page-wrapper {
		grid-template-rows: $large-device-header-height 1fr auto;
	}
	
	// ------------- Page Header -----------------
	.page-header-wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		height: $large-device-header-height;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// ------------- Page Content -----------------
	.page-content-header-inner {
		max-width: 1140px;
	}
	
	.page-content-main {
		min-width: 1140px;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}