// THIS is a page alternative to the sticky header

.page-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		// h = header
		// c = content
		// f = footer
		"h"
		"c"
		"f";
	
	height: 100vh;
}

// ------------- Page Header -----------------
.page-header {
	border-bottom: 5px solid $theme-color-primary;
	padding-top: .5em;
	padding-bottom: .5em;
}

.page-header-wrapper {
	display: flex;
	flex-direction: column;
	
	margin-left: 1%;
	margin-right: 1%;
}

.page-header-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-header-menu-toggler {
	@include opacity(0.8);
	padding: 0rem .6rem;
	background-color: transparent;
	border: 0px;
	color: $theme-color-primary;
	
	&:hover {
		@include opacity(1);
	}
}
.page-header-menu-toggler:focus {
    outline: 0 !important;
}

.page-header-navigation {
	display: none;
	text-align: center;
}
.page-header-navigation.active {
	display: grid;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.page-header-navigation ul li {
	display: vertical;
	
	height: 2.35em;
	
	&.active {
		font-weight: bold;
	}
}

.page-header-navigation .nav-item-separator {
	display: none;
	
	color: $theme-color-primary;
}

// ------------- Page Content -----------------
.page-content {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr;
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
}

.page-content-header {
	grid-area: ch;
	
	padding-top: .75rem;
	padding-bottom: .75rem;
	padding-left: 1rem;
	padding-right: 1rem;
	
	background: $theme-bg-light;
	
	.section-heading-text {
		font-size: 1.5rem;
	}
	
	.quote {
		background: $white;
	}
}

.page-content-main {
	grid-area: cm;
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

// ------------- Page Footer -----------------
.page-footer {
	grid-area: f;
	display: flex;
	justify-content: center;
	
	padding: .5em 0;
	
	border-top: 5px solid $theme-color-primary;
}

.page-footer-wrapper {
	
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	// ------------- Page Content -----------------
	.page-content-header .page-content-main {
		max-width: 540px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// ------------- Page Header -----------------
	.page-header {
		padding-top: 1.25em;
		padding-bottom: 1.25em;
	}
	
	.page-header-wrapper {
		text-align: left;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
	.page-header-navigation {
		display: block;
		text-align: left;
	}
	
	.page-header-navigation .nav-item-separator {
		display: inline;
	}

	.page-header-navigation ul li {
		display: inline;
	}
	
	.page-header-navigation ul li {
		padding-right: 1.4em;
	}
	.page-header-navigation ul li:last-child {
		padding-right: 0em;
	}
	
	.page-header-menu-toggler {
		display: none;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	// ------------- Page Header -----------------
	.page-header-wrapper {
		margin-left: 3rem;
		margin-right: 3rem;
		flex-direction: row;
		justify-content: space-between;
	}
	
	// ------------- Page Content -----------------
	.page-content-header .page-content-main {
		max-width: 960px;
	}
	
	.page-content-header {
		padding-left: 3rem;
		padding-right: 3rem;
		
		.section-heading-text {
			font-size: 2.1rem;
		}
	}
	
	.page-content-main {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// ------------- Page Content -----------------
	.page-content-header .page-content-main {
		max-width: 1140px;
	}
}