.rg-article {
	margin-top: 1rem;
}

.rg-article-header {
}

.rg-article-header-meta {
	margin-bottom: 1rem;
	color: $rg-theme-text-color-light;
	font-size: 0.8125rem;
}

.rg-article-body {
	.image-caption {
		color: $rg-theme-text-color-light;
		font-size: 0.875rem;
		a {
			color: $rg-theme-text-color-light;
			text-decoration: underline;
			&:hover {
				color: $rg-theme-text-color-secondary;
			}
		}
	}
	
	.quote {
		margin-bottom: .5rem;
	}
	
	.blockquote {
		font-family: $rg-font-TimesNewRomand;
		border-left: 2px solid $rg-theme-text-color-primary;
		font-size: 1.5rem;
		p {
			font-size: 1.5rem;
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		@extend .rg-heading;
	}
}