*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: $rg-font-Segeo;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	background-color: $white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 2.5rem;
}

h2, .h2 {
	font-size: 2rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
}

h6, .h6 {
	font-size: 1rem;
}

a {
	color: $rg-color-primary;
	text-decoration: none;
	
	@include hover {
		color: $rg-color-primary;
		text-decoration: underline;
		@include opacity(0.8);
	}
}

.root {
	height: 100%;
}

hr {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rg-horizontal-align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.rg-btn {
	display: inline-block;
	font-weight: bold;
	padding: .375rem 1rem;
	height: 2.75rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	line-height: 1.5;
	border-radius: 0.25rem;
	text-decoration: none;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}

.rg-btn-left-icon {
	margin-right: 0.5rem;
}

.rg-btn-right-icon {
	margin-left: 0.5rem;
}

.rg-btn-primary {
	background: $theme-color-primary;
	color: $white;
	border-color: transparent;
	font-size: 1rem;
	padding-top: 0.5rem;
	&:hover {
		background: $white;
		border-color: $theme-color-primary;
		color: $theme-color-primary;
	}
}

.rg-image-responsive {
	width: 100%;
	height: auto;
}

.rg-link-arrow {
	&:after {
		content: " \2192";
	}
}

.rg-heading {
	letter-spacing: 0.15rem;
	color: $theme-color-primary;
	text-transform: uppercase;
}

.rg-heading-leading-vertical-bar {
	position: relative;
	padding-left: 1rem;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 5px;
		height: 100%;
		background: $theme-color-primary;
		left: 0;
		top: 0;
   }
}

.rg-heading-line-separator {
	display: grid;
	width: 100%;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: 20px;
	&:before,
	&:after {
		content: "";
		border-top: 1px solid $theme-color-primary;
	}
}

.rg-unordered-list-no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.rg-quote {
	padding: 1.5rem;
	padding-left: 3rem;
	border: 1px solid rgba(0, 0, 0, 0.025);
	background: $theme-bg-light;
	height: 100%;
	position: relative;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 40px 40px 0 0;
		border-color: $theme-color-primary transparent transparent transparent;
	}
	
	.fa-quote-left {
		position: absolute;
		left: 0.35rem;
		top: 0.3rem;
		color: $white;
		font-size: 0.75rem;
	}
	
	.svg-inline--fa {
		display: inline-block;
		height: 1em;
		vertical-align: -0.125em;
	}
	
	footer {
		display: block;
		margin-top: 0.5rem;
		font-size: 80%;
		color: #6c757d;
		&:before {
			content: "\2014\00A0";
		}
	}
}

.link {
	color: $theme-color-primary;
	&:hover {
		color: $theme-text-color-secondary;
	}
}

.intro-quotes {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: .5em;
}

.footnotes {
	margin: 1em 0 0;
	padding: 0 0 0.5em;
	border-top: 1px dotted #bbb;
}

.list-item-preview {
	margin-bottom: 1rem;
	
	// This is needed because the excerpt_separator includes the paragraph tag
	p {
		margin-bottom: 0rem;
	}
	
	.rg-link-arrow {
		font-size: $font-size-secondary;
	}
}

.list-item-preview-published {
	margin-bottom: .5rem;
	color: $theme-text-color-light;
	font-size: $font-size-secondary;
}

.ul-chevron {
	list-style: none;
	padding: 0;
	li {
		padding-left: 1.3rem;
		margin-bottom: 1rem;
	}
	li:before {
		display: inline-block;
		margin-left: -1.3em; /* same as padding-left set on li */
		width: 1.2em; /* same as padding-left set on li */
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Free";
		font-weight: 900; content:
		"\f054";
	}
}

// ------------- Paginator -----------------
.rg-paginator {
	display: flex;
	justify-content: center;
}

.rg-paginator-btn {
	@extend .rg-btn;
	@extend .rg-btn-primary;
	margin-right: .5rem;
	&:hover {
		.fas {
			color: $theme-color-primary;
		}
	}
}

.rg-paginator-btn-selected {
	text-decoration: underline !important;
}

.rg-paginator-btn-prev {
	padding-right: 1rem;
}

.rg-paginator-btn-next {
	padding-left: 1rem;
}

// ------------- Page -----------------
.rg-page-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// h = header
		// c = content
		// f = footer
		"h"
		"c"
		"f";
	height: 100vh;
}

// ------------- Page Header -----------------
.rg-page-header {
	grid-area: h;
}

.rg-page-header-wrapper {
	display: flex;
	flex-direction: column;
	
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
	
	background-color: $white;
	border-bottom: 1px solid #ccc;
}

.rg-page-header-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rg-page-header-menu-toggler {
	@include opacity(0.8);
	padding: 0rem .6rem;
	background-color: transparent;
	border: 0px;
	color: $theme-color-primary;
	&:hover {
		@include opacity(1);
	}
}
.rg-page-header-menu-toggler:focus {
    outline: 0 !important;
}

.rg-page-header-navigation {
	display: none;
	text-align: center;
	&.active {
		display: grid;
		-webkit-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
}

.rg-page-header-navigation ul li {
	display: vertical;
	height: 2.35em;
	&.active {
		font-weight: bold;
	}
}

.rg-page-header-navigation-item-separator {
	display: none;
	color: $theme-color-primary;
}

// ------------- Page Content -----------------
.rg-page-content {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr 10px;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
}

.rg-page-content-header {
	grid-area: ch;
	padding-top: .75rem;
	padding-bottom: .75rem;
	background: $theme-bg-light;
	.rg-quote {
		background: $white;
	}
}

.rg-page-content-header-inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
}

.rg-page-content-main {
	grid-area: cm;
	padding-left: $small-device-page-left-right-padding;
	padding-right: $small-device-page-left-right-padding;
}

// ------------- Page Footer -----------------
.rg-page-footer {
	grid-area: f;
	display: flex;
	justify-content: center;
	padding: .5em 0;
	border-top: 5px solid $theme-color-primary;
}

.rg-page-footer-wrapper {
}

// ------------- Get Started -----------------
.get-started {
	.rg-link-arrow {
		font-size: $font-size-secondary;
	}
}

// ------------- About -----------------
.about-skills-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: .5em;
}

.about-skills-grid-item {
	background: $theme-bg-light;
	border: 1px solid rgba(0, 0, 0, 0.025);
	padding: 1rem;
	text-align: center;
}

// ------------- Project -----------------
.rg-project-overview {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	margin-bottom: 1rem;
	background: $theme-bg-light;
	border: 1px solid rgba(0, 0, 0, 0.025);
	padding: 2rem;
}

.rg-project-overview-image {
	max-width: 500px;
	max-height: 500px;
	margin-bottom: 1rem;
	@extend .rg-horizontal-align-center;
}

.rg-project-technologies-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: .5em;
}

.rg-project-technologies-grid-item {
	background: $theme-bg-light;
	border: 1px solid rgba(0, 0, 0, 0.025);
	padding: 1rem;
	text-align: center;
}

// ------------- Small devices (landscape phones, 576px and up) -----------------
@media (min-width: 576px) {
}

// ------------- Medium devices (tablets, 768px and up) -----------------
@media (min-width: 768px) {
	.intro-quotes {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: 1em;
	}
	
	// ------------- Page -----------------
	.rg-page-wrapper {
		grid-template-rows: $medium-device-header-height 1fr auto;
	}

	// ------------- Page Header -----------------
	.rg-page-header {
	}
	
	.rg-page-header-wrapper {
		height: $medium-device-header-height;
		
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		
		text-align: left;
	}
	
	.rg-page-header-navigation {
		display: block;
		text-align: left;
	}

	.rg-page-header-navigation ul li {
		display: inline;
	}
	
	.rg-page-header-navigation ul li {
		padding-right: 1.4em;
	}
	.rg-page-header-navigation ul li:last-child {
		padding-right: 0em;
	}
	
	.rg-page-header-menu-toggler {
		display: none;
	}
	
	// ------------- About -----------------
	.about-skills-grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-column-gap: 1em;
	}
	
	// ------------- Project -----------------
	.rg-project-overview {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
	}
	
	.rg-project-overview-image {
		margin-bottom: 0;
	}
	
	.rg-project-technologies-grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-column-gap: 1em;
	}
}

// ------------- Large devices (desktops, 992px and up) -----------------
@media (min-width: 992px) {
	// ------------- Page -----------------
	.rg-page-wrapper {
		grid-template-rows: $large-device-header-height 1fr auto;
	}
	
	// ------------- Page Header -----------------
	.rg-page-header-wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: $large-device-header-height;
	}
}

// ------------- Extra large devices (large desktops, 1200px and up) -----------------
@media (min-width: 1200px) {
	// ------------- Page Content -----------------
	.rg-page-content-header-inner {
		max-width: 1140px;
	}
	
	.rg-page-content-main {
		min-width: 1140px;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}