
$rg-color-primary: #5FCB71;

$rg-font-Segeo: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-color-primary: #5FCB71;

$theme-text-color-primary: #292929;
$theme-text-color-secondary: lighten($theme-text-color-primary, 15%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);
$theme-bg-light: #fafafa;
$theme-border-color:  lighten($theme-text-color-primary, 60%);

$theme-colors: (
	"primary":  $theme-color-primary, 
	"secondary":  $theme-text-color-secondary, 
);

$font-size-secondary: 0.8125rem;

$small-device-page-left-right-padding: 1rem;

$medium-device-header-height: 7em;

$large-device-header-height: 5em;