$color-white: #fff;

$font-size-secondary: 0.8125rem;

$small-device-page-left-right-padding: 1rem;

$medium-device-header-height: 7em;

$large-device-header-height: 5em;

$rg-theme-color-primary: #205ec9;
$rg-theme-background-color-secondary: #fafafa;
$rg-theme-text-color-primary: #292929;
$rg-theme-text-color-secondary: lighten($rg-theme-text-color-primary, 15%);
$rg-theme-text-color-light: lighten($rg-theme-text-color-primary, 40%);

$rg-font-Segeo: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$rg-font-TimesNewRomand : Georgia, "Times New Roman", Times, serif;