.jkt-page-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// h = header
		// c = content
		// f = footer
		"h"
		"c"
		"f";
	height: 100vh;
}

// ------------- Header -----------------
.jkt-page-header {
	grid-area: h;
	@include themify() {
		background-color: v(page-header-background-color);
		border-bottom-style: v(page-header-bottom-border-style);
		border-bottom-width: v(page-header-bottom-border-width);
		border-bottom-color: v(page-header-bottom-border-color);
	}
}

.jkt-page-header-wrapper {
	display: grid;
	@include themify() {
		grid-template-columns: v(page-body-right-padding) repeat(2, 1fr) v(page-body-right-padding);
	}
	height: 100%;
}

.jkt-page-header-logo {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: start;
	align-self: center;
	
	img {
		@include themify() {
			height: calc(#{v(small-device-page-header-height)} - 10px);
		}
	}
}

.jkt-page-header-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.jkt-page-header-menu-toggler {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: end;
	align-self: center;
	
	@include opacity(0.8);
	padding: 0rem .6rem;
	background-color: transparent;
	border: 0px;
	@include themify() {
		color: v(page-header-menu-icon-color);
	}
	&:hover {
		@include opacity(1);
	}
}
.jkt-page-header-menu-toggler:focus {
    outline: 0 !important;
}

.jkt-page-header-navigation {
	display: none;
	
	ul {
		list-style-type: none;
		padding: 0px;
		
		li:not(:last-child) {
			padding-bottom: 10px;
		}
	}
	
	&.show {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
	}
}

.jkt-page-header-navigation-item {
	position: relative;
}

.jkt-page-header-navigation-item-dropdown {
	position: relative;
	
	&.show {
		.jkt-page-header-navigation-item-dropdown-trigger {
			&:after {
				transform: rotate(90deg);
			}
		}
		
		.jkt-page-header-navigation-dropdown-menu {
			display: block;
			opacity: 1;
		}
	}
}

.jkt-page-header-navigation-item-dropdown-trigger {
	&:after {
		float: right;
		font-family: $font-fontAwesome5;
		font-weight: 700;
		font-style: normal;
		font-size: 0.75rem;
		content: "\f054";
	}
}

.jkt-page-header-navigation-dropdown-menu {
	display: none;
	opacity: 0;
}

.jkt-page-header-navigation-about-panel {
	padding: 20px;
	background-color: $color-white;
	
	display: grid;
	grid-template-columns: 32px 1fr;
	column-gap: 20px;
	row-gap: 20px;
	
	img {
		width: 32px;
		height: 32px;
	}
}

// ------------- Content -----------------
// change to jkt-page-body
.jkt-page-content {
	grid-area: c;
	display: grid;
	grid-template-rows: auto 10px 1fr 10px;
	grid-template-columns: minmax(0, 1fr); // prevent grid blowout i.e. when embedding a gist in the grid
	grid-template-areas:
		// ch = content header
		// cm = content main
		"ch"
		"."
		"cm";
}

.jkt-page-content-header {
	grid-area: ch;
	padding-top: .75rem;
	padding-bottom: .75rem;
	@include themify() {
		background: v(page-body-header-background-color);
	}
}

.jkt-page-content-header-inner {
	margin-left: auto;
	margin-right: auto;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
	
	.jkt-breadcrumbs {
		margin-bottom: 1rem;
	}
}

.jkt-page-content-main {
	grid-area: cm;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
	
	> section {
		> h3, > h4, > h6 {
			@extend .jkt-heading-line-separator;
		}
	}
	
	section:not(:last-child) {
		margin-bottom: 1rem;
	}
}

// ------------- Footer -----------------
.jkt-page-footer {
	grid-area: f;
	margin-top: 40px;
	@include applyAngledEdge(before);
	@include themify() {
		background-color: v(page-footer-background-color);
		color: v(page-footer-text-color);
	}
	padding-top: 20px;
	padding-bottom: 20px;
	
	&:before {
		border-top-style: solid;
		border-top-width: 5px;
		@include themify() {
			border-top-color: v(page-footer-border-top-color);
		}
	}
}

.jkt-page-footer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	
	hr {
		width: 80%;
	}
}

.jkt-page-footer-icon-links {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			&:not(:last-child):after {
				content: "";
				padding-right: 15px;
			}
		}
	}
}

.jkt-page-footer-text-links {
	a {
		@include themify() {
			color: v(page-footer-text-color);
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			font-weight: bold;
			font-size: 20px;
			display: inline;
			&:not(:last-child):after {
				font-weight: bold;
				content: "|";
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-page-wrapper {
		@include themify() {
			grid-template-rows: v(medium-device-page-header-height) 1fr auto;
		}
	}
	
	// ------------- Header -----------------
	.jkt-page-header {
		@include themify() {
			height: v(medium-device-page-header-height);
		}
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	
	.jkt-page-header-wrapper {
		@include themify() {
			grid-template-columns: v(page-body-right-padding) repeat(6, 1fr) v(page-body-right-padding);
		}
	}
	
	.jkt-page-header-logo {
		grid-column-start: 2;
		grid-column-end: 4;
		
		img {
			@include themify() {
				height: calc(#{v(medium-device-page-header-height)} - 20px);
			}
		}
	}

	.jkt-page-header-menu-toggler {
		display: none;
	}
	
	.jkt-page-header-navigation {
		display: grid;
		grid-column-start: 4;
		grid-column-end: 6;
		justify-self: center;
		align-self: center;
		
		ul {
			li {
				display: inline;
			}
			
			li:not(:last-child) {
				padding-bottom: 0px;
				padding-right: 20px;
			}
		}
	}
	
	.jkt-page-header-navigation-item-dropdown {
		&.show {
			.jkt-page-header-navigation-dropdown-menu {
				display: none;
				opacity: 0;
			}
		}
		
		&:hover > .jkt-page-header-navigation-dropdown-menu {
			display: block;
			opacity: 1;
		}
	}
	
	.jkt-page-header-navigation-item-dropdown-trigger {
		&:after {
			float: none;
			padding-left: 7px;
			content: "\f078";
		}
	}
	
	.jkt-page-header-navigation-dropdown-menu {
		position: absolute;
		top: 18px;
		left: 0;
	}
	
	.jkt-page-header-navigation-about-panel {
		@include applyGridItemStyle();
		width: 350px;
		
		grid-template-columns: 64px 1fr;
		
		img {
			width: 64px;
			height: 64px;
		}
	}
}

@media (min-width: $device-width-breakpoint-large) {
	// ------------- Header -----------------
	.jkt-page-header-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	
	.jkt-page-header-navigation-about-panel {
		width: 500px;
	}
}

@media (min-width: $device-width-breakpoint-xlarge) {
	// ------------- Header -----------------
	.jkt-page-header-wrapper {
		max-width: 1140px;
		grid-template-columns: repeat(8, 1fr);
	}
	
	.jkt-page-header-logo {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	.jkt-page-header-navigation {
		grid-column-start: 4;
		grid-column-end: 6;
	}
	
	// ------------- Content -----------------
	.jkt-page-content-header-inner {
		max-width: 1140px;
	}
	
	.jkt-page-content-main {
		min-width: 1140px;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}