<section class="jkt-cv-work-history-section">
	<div class="jkt-cv-section-heading">
		<h2>{{ include.heading }}</h2>
	</div>
	<div class="jkt-cv-section-content">
		{% for job in include.jobs %}
			<div class="jkt-cv-work-history-job-employer">
				{{ job.company-name }}
			</div>
			<div class="jkt-cv-work-history-job-position">
				{% for position in job.positions %}
					<div>
						<div class="jkt-cv-work-history-job-position-title">
							{% if position.internal-page-relative-url %}
								<a class="jkt-link-arrow" href="{{ position.internal-page-relative-url | relative_url }}">{{ position.title }}</a>
							{% else %}
								{{ position.title }}
							{% endif %}
						</div>
						<div class="jkt-cv-work-history-job-position-duration">{{ position.duration-date-to-date }}</div>
					</div>
					<div>
						<ul>
							{% for responsibility in position.responsibilities %}
								<li>{{ responsibility }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</section>