<!--
	heading
	recommendations (list)
		quote
		by
-->
<section>
	<div class="jkt-cv-section-heading">
		<h2>{{ include.heading }}</h2>
	</div>
	<div class="jkt-cv-section-content">
		{% for recommendation in include.recommendations %}
			{% include jkt-module-commons/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
			{% if forloop.last == false %}
				<div class="jkt-cv-recommendation-row-gap"></div>
			{% endif %}
		{% endfor %}
	</div>
</section>