---
layout: jkt-site/page
title: &title "Resume"
head-print-csss:
  - assets/jkt-site/css/cv/print.css
---

{% assign jobs = '' | split: '' %}
{% assign jobs = jobs | push: site.data.jkt-site.career.employment.jobs[site.data.jkt-site.career.employment.job-index.bowman] %}
{% assign jobs = jobs | push: site.data.jkt-site.career.employment.jobs[site.data.jkt-site.career.employment.job-index.tsd] %}
{% assign jobs = jobs | push: site.data.jkt-site.career.employment.jobs[site.data.jkt-site.career.employment.job-index.atlatl] %}
{% assign jobs = jobs | push: site.data.jkt-site.career.employment.jobs[site.data.jkt-site.career.employment.job-index.dunn] %}

{% include jkt-site/page/body/page-content-header.html title='Resume' %}

<section class="jkt-page-content-main">
	<article class="jkt-cv">
		{% include jkt-site/components/career/cv/header.html
			name=site.data.jkt-site.me.name
			title=site.data.jkt-site.career.construction.cv.title
			location=site.data.jkt-site.me.location
			phone-number=site.data.jkt-site.me.phone-number
			website=site.data.jkt-site.me.website
			linkedin=site.data.jkt-site.me.social.linkedin %}
		
		<hr>
		
		{% include jkt-site/components/career/cv/introduction.html
			heading=site.data.jkt-site.career.construction.cv.intro-heading-text
			description=site.data.jkt-site.career.construction.cv.intro %}
		
		{% include jkt-site/components/career/cv/work-history.html
			heading=site.data.jkt-site.career.construction.cv.jobs-heading-text
			jobs=jobs %}
		
		{% include jkt-site/components/career/cv/skills.html
			heading=site.data.jkt-site.career.construction.cv.skills-heading-text
			skills=site.data.jkt-site.career.construction.skills.computer-skills %}
		
		{% include jkt-site/components/career/cv/education.html
			heading=site.data.jkt-site.career.construction.cv.education-heading-text
			degree=site.data.jkt-site.career.education.bachelors_degree %}
	</article>
	
	<section class="jkt-cv-download-options">
		{% include jkt-site/components/career/cv/versions.html
			pdf=site.data.jkt-site.career.construction.cv.version.pdf
			text=site.data.jkt-site.career.construction.cv.version.text %}
	</section>
</section>