---
layout: rg/page
title: &title "Resume"
head-print-csss:
  - assets/perfolio/css/cv-print.css
---

{% assign projects = '' | split: '' %}
{% assign projects = projects | push: site.data.career.information-technology.projects.on-the-side[site.data.career.information-technology.projects.on-the-side-index.cheapthycable] %}

{% include perfolio/page/body/page-content-header.html title='Resume' %}

<section class="pf-page-content-main">
	<article class="pf-cv-wrapper">
		<section class="pf-cv-header">
			{% include rg/components/career/cv/header.html
				name=site.data.me.name
				title=site.data.career.construction.cv.title
				location=site.data.me.location
				website=site.data.me.website
				linkedin=site.data.me.social.linkedin %}
		</section>
		
		<hr>
		
		<section>
			{% include rg/components/career/cv/introduction.html
				heading=site.data.career.construction.cv.intro-heading-text
				description=site.data.career.construction.cv.intro %}
		</section>
		
		<section>
			{% include rg/components/career/cv/recommendations.html
				heading=site.data.career.construction.cv.recommendations-heading-text
				recommendations=site.data.career.recommendations.recommendations %}
		</section>
		
		<section>
			{% include rg/components/career/cv/work-history.html
				heading=site.data.career.construction.cv.jobs-heading-text
				jobs=site.data.career.employment.jobs %}
		</section>
		
		<!-- https://themes.3rdwavemedia.com/devcard/bs4/resume.html -->
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.career.construction.cv.skills-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				{% for skill in site.data.career.construction.cv.skills %}
					<div class="pf-cv-work-history-item">
						<div>
							<div class="pf-cv-work-history-item-employer">
								{{ skill.display-text }}
							</div>
						</div>
						<div class="pf-cv-text">
							{{ skill.list | join: ", " }}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		
		<section>
			{% include rg/components/career/cv/education.html
				heading=site.data.career.construction.cv.education-heading-text
				degree=site.data.career.education.bachelors_degree %}
		</section>
	</article>
	
	<section class="pf-cv-download-options">
		{% include rg/components/career/cv/versions.html
			pdf=site.data.career.construction.cv.version.pdf
			text=site.data.career.construction.cv.version.text %}
	</section>
</section>