// https://medium.com/@sanuthadathil/theme-and-color-scheme-sass-way-a62d68614ef3
// https://stackoverflow.com/questions/64390664/how-to-implement-switchable-themes-in-scss
// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// https://github.com/kaitlinmctigue/kaitlinmctigue.github.io/blob/source/src/styles/_color-themes.scss

$themes: (
	default: (
		button-icon-text-spacing: 0.5rem,
		hr-gradient-divider-height: 1px,
		hr-gradient-divider-start-color: #dee4ef,
		hr-gradient-divider-finish-color: #ffffff00,
		grid-1column-column-width: 100%,
		grid-1column-gutter-width: 0,
		grid-2column-column-width: 49%,
		grid-2column-gutter-width: 2%,
		grid-3column-column-width: 32%,
		grid-3column-gutter-width: 2%
	)
);

@mixin themify() {
	@each $theme, $map in $themes {
		.jkt-theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function v($key) {
	@return map-get($theme-map, $key);
}

@mixin make1ColumnGrid() {
	.grid-sizer {
		@include themify() {
			width: v(grid-1column-column-width);
		}
	}
	.gutter-sizer {
		@include themify() {
			width: v(grid-1column-gutter-width);
		}
	}
}

@mixin make1ColumnGridColumn() {
	@include themify() {
		width: v(grid-1column-column-width);
	}
}

@mixin make2ColumnGrid() {
	.grid-sizer {
		@include themify() {
			width: v(grid-2column-column-width);
		}
	}
	.gutter-sizer {
		@include themify() {
			width: v(grid-2column-gutter-width);
		}
	}
}

@mixin make2ColumnGridColumn() {
	@include themify() {
		width: v(grid-2column-column-width);
	}
}

@mixin make3ColumnGrid() {
	.grid-sizer {
		@include themify() {
			width: v(grid-3column-column-width);
		}
	}
	.gutter-sizer {
		@include themify() {
			width: v(grid-3column-gutter-width);
		}
	}
}

@mixin make3ColumnGridColumn() {
	@include themify() {
		width: v(grid-3column-column-width);
	}
}