

.resume-wrapper {
	border: 1px solid rgba(0, 0, 0, 0.025);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.resume-wrapper h1, h2, h3, h4, h5, h6 {
	color: $rg-theme-text-color-primary;
	font-weight: bold;
}

.resume-header {
	display: grid;
	grid-template-areas:
		// t = title
		// c = content
		"t t t t t t t t t t t t"
		"c c c c c c c c c c c c";
}

.resume-name {
	font-size: 2.75rem;
	font-weight: 900;
	letter-spacing: 0.4rem;
	color: $rg-theme-color-primary;
}

.resume-tagline {
	font-size: 1.25rem;
	font-weight: 300;
}

.resume-header-contact {
	grid-area: c;
	
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	font-size: 0.75rem;
	padding-left: 1.5rem;
}

a.resume-link {
	color: $rg-theme-text-color-secondary;
	text-decoration: none;
	background-color: transparent;
	&:hover {
		color: $rg-theme-color-primary;
	}
}

.resume-intro {
	font-size: 0.875rem;
}

.resume-profile-image {
	max-width: 120px;
}

.resume-body {
	display: grid;
	grid-template-areas:
		// m = main
		// s = side
		"m m m m m m m m m m m m"
		"s s s s s s s s s s s s";
}

.resume-body-main {
	grid-area: m;
	
	.section-heading-text {
		font-size: 1.125rem;
	}
	
	.item-title {
		font-size: 1rem;
	}
	.item-meta {
		font-size: 0.75rem;
	}
	.item-content {
		font-size: 0.875rem;
	}
}

.work-section {
	
}

.resume-work-heading {
	display: grid;
	grid-template-areas:
		// wt = work title
		// wm = work meta
		"wt wt wt wt wt wt wt wt wt wt wt wt"
		"wm wm wm wm wm wm wm wm wm wm wm wm";
}

.resume-work-heading-title {
	grid-area: wt;
}

.resume-work-heading-meta {
	grid-area: wm;
}

.skills-section {

}

.education-section {

}

.resume-body-aside {
	grid-area: s;
	
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	.item {
		font-size: 0.875rem;
	}
	.item-title {
		font-size: 1rem;
	}
}

.resume-education-list, .resume-awards-list {
	font-size: 0.875rem;
}

.resume-degree-time-org, .resume-degree-time {
	font-size: 0.75rem;
}

.resume-social-list {
	font-size: 0.75rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.resume-header {
		grid-template-areas:
			"t t t t t t c c c c c c";
	}
	
	.resume-work-heading {
		grid-template-areas:
			"wt wt wt wt wt wt wm wm wm wm wm wm";
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.resume-header {
		grid-template-areas:
			"t t t t t t t t c c c c";
	}
	
	.resume-body {
		grid-template-areas:
			"m m m m m m m m s s s s";
	}
	
	.resume-work-heading {
		grid-template-areas:
			"wt wt wt wt wt wt wt wt wm wm wm wm";
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.resume-header {
		grid-template-areas:
			"t t t t t t t t t c c c";
	}
	
	.resume-body {
		grid-template-areas:
			"m m m m m m m m m s s s";
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.resume-body-aside {
		border-left: 0;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.resume-header-contact {
		border-left: 0;
		padding-left: 0;
	}
}