---
# Format resume page so for printing.
---

@import "gs-css-core/abstracts/colors";
@import "theme-site/printable";

a {
	text-decoration: none;
	color: $color-black !important;
}

.jkt-margin-top-20 {
	margin: 0;
}

.jkt-cv {
	font-size: 1.188rem;
	
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	box-shadow: none;
	
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $color-black !important;
	}
	
	i {
		color: $color-black !important;
	}
}

.jkt-cv-section-heading {
	border-color: $color-black !important;
}

.jkt-cv-work-history-section {
	.jkt-cv-work-history-job-employer {
		color: $color-black !important;
	}
	
	.jkt-cv-work-history-job-position-title {
		color: $color-black !important;
	}
}

.jkt-cv-education-section {
	.jkt-cv-education-school {
		color: $color-black;
	}
}

.jkt-cv-download-options {
	display: none;
}

.jkt-hbf-page-footer {
	display: none;
}