---
layout: jkt-site/page
title: &title "Skills"
include-seo-og: true
og-title: Skills
og-image-asset-url: assets/images/career/og-image-skills.png
---

{% include jkt-site/page/body/page-content-header.html title=site.data.jkt-site.career.skills.label %}

<article class="jkt-page-content-main">
	{% assign skills = site.data.jkt-site.career.skills.skills | where_exp: "item", "item.companies contains 'dunn'" | sort: "skill" %}
	{% include jkt-site/components/career/skill-list.html skills=skills %}
	
	<div class="jkt-footnotes">
		{% include jkt-site/components/career/skill-proficiency-level-anchors.html %}
	</div>
</article>