---
layout: theme-site/page
title: &title "Skills"
include-seo-og: true
og-title: Skills
og-image-asset-url: assets/this-site/images/about/og-image-skills.png
---

{% include this-site/layout/page-body-header.html title=site.data.this-site.about.skills.label %}

<article class="jkt-page-body-main">
	{% assign skills = site.data.this-site.about.skills.all | where_exp: "item", "item.companies contains 'atlatl'" | sort: "skill" %}
	{% include this-site/components/about/skills-list.html skills=skills %}
</article>