---
---

@page {
	size: a3;
}

body {
	min-width: 992px;
}

a {
	text-decoration: none;
}

.rg-page-wrapper {
	grid-template-rows: auto;
}

.rg-page-header {
	display: none;
}

.rg-page-content {
	grid-template-areas:
		"cm";
}

.rg-page-content-header {
	display: none;
}

.rg-page-content-main {
	padding: 0;
}

.rg-cv-wrapper {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	box-shadow: none;
}

.rg-link-arrow {
	&:after {
		content: "";
	}
}

.rg-cv-download-options {
	display: none;
}

.rg-page-footer {
	display: none;
}