---
---

$site-baseurl: '{{ site.baseurl }}';

@import "reset";

@import "lib/fontawesome-free-5.15.3-web/fontawesome.scss";
@import "lib/fontawesome-free-5.15.3-web/solid.scss";
@import "lib/fontawesome-free-5.15.3-web/brands.scss";

@import "lib/perfolio/perfolio";

@import "lib/rg/rg";