<!--
	{@link _data-structures/company.json}
-->
<div class="jkt-2cgrid" data-masonry='{ "itemSelector": ".jkt-2cgrid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": true }'>
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	{% for company in include.companies %}
		{% for position in company.positions %}
			{% include jkt-site/components/about/helpers/get-position-url.html company=company position=position %}
			<div class="jkt-2cgrid-item jkt-about-experience-grid-item">
				<div class="jkt-about-experience-grid-item-header">
					<div class="jkt-badge jkt-position-top-right jkt-text-uppercase">{{ position.duration-number-of-years | capitalize }}</div>
					{% if company.company-logo-asset-url %}
						<a href="{{ position-url }}"><img src="{{ company.company-logo-asset-url | relative_url }}" alt="{{ company.company-name }}"></a>
					{% else %}
						<h4><a href="{{ position-url }}">{{ company.company-name }}</a></h4>
					{% endif %}
					<h5>{{ position.title }}</h5>
					<h6>{{ position.duration-date-to-date }}</h6>
				</div>
				<div class="jkt-hr-gradient-divider"></div>
				<div class="jkt-grid-item-body">
					<p>
						{{ position.description | strip_html }}
					</p>
					<br/>
					<a class="jkt-link-arrow" href="{{ position-url }}">Read more</a>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</div>