<div class="jkt-grid-2c" data-masonry='{ "itemSelector": ".jkt-grid-2c-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": true }'>
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	{% for project in site.data.jkt-site.about.information-technology.projects.on-the-side %}
		<div class="jkt-grid-2c-item jkt-about-project-grid-item">
			<div class="jkt-about-project-grid-item-header">
				<h4><a href="{{ project.internal-page-relative-url | relative_url }}">{{ project.name }}</a></h4>
			</div>
			<div class="jkt-hr-gradient-divider"></div>
			<div class="jkt-grid-item-body">
				<p>
					{{ project.description | strip_html }}
				</p>
				<br/>
				<a class="jkt-link-arrow" href="{{ project.internal-page-relative-url | relative_url }}">Read more</a>
			</div>
		</div>
	{% endfor %}
</div>