{% capture _pl1 %}
	<sup><a href="#{{ site.data.jkt-site.about.skills.proficiency-level1-id }}" class="footnote">1</a></sup>
{% endcapture %}
{% capture _pl2 %}
	<sup><a href="#{{ site.data.jkt-site.about.skills.proficiency-level2-id }}" class="footnote">2</a></sup>
{% endcapture %}
{% capture _pl3 %}
	<sup><a href="#{{ site.data.jkt-site.about.skills.proficiency-level3-id }}" class="footnote">3</a></sup>
{% endcapture %}
{% capture _pl4 %}
	<sup><a href="#{{ site.data.jkt-site.about.skills.proficiency-level4-id }}" class="footnote">4</a></sup>
{% endcapture %}