.pf-heading {
	letter-spacing: 0.15rem;
	color: $pf-theme-color-primary;
	text-transform: uppercase;
}

.pf-heading-leading-vertical-bar {
	@extend .pf-heading;
	position: relative;
	padding-left: 1rem;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 5px;
		height: 100%;
		background: $pf-theme-color-primary;
		left: 0;
		top: 0;
   }
}

.pf-heading-line-separator {
	@extend .pf-heading;
	display: grid;
	width: 100%;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
	grid-gap: 20px;
	&:before,
	&:after {
		content: "";
		border-top: 1px solid $pf-theme-color-primary;
	}
}