<header class="jkt-page-header">
	<div class="jkt-page-header-wrapper">
		<div class="jkt-page-header-title">
			<h1 class="jkt-heading-vertical-bar"></h1>
			
			<button class="jkt-page-header-menu-toggler" type="button" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		
		<nav class="jkt-page-header-navigation">
			<ul>
				<li>
					{% include jkt-site/components/links/about-text-link.html %}
				</li>
				<li>
					{% include jkt-site/components/links/blog-text-link.html %}
				</li>
				<li class="jkt-page-header-navigation-item-separator">
					|
				</li>
				<li>
					{% include jkt-site/components/icons/fa/my-linkedin-circle-icon-link.html
						target-blank=true
						fa-x=1 %}
				</li>
				<li>
					{% include jkt-site/components/icons/fa/my-github-circle-icon-link.html
						target-blank=true
						fa-x=1 %}
				</li>
			</ul>
		</nav>
	</div>
</header>