<footer class="jkt-page-footer">
	<div class="jkt-page-footer-wrapper">
		<div class="jkt-page-footer-icon-links">
			<ul>
				<li>
					{% include jkt-site/components/icons/fa/my-linkedin-circle-icon-link.html
						target-blank=true
						fa-x=2 %}
				</li>
				<li>
					{% include jkt-site/components/icons/fa/my-github-circle-icon-link.html
						target-blank=true
						fa-x=2 %}
				</li>
			</ul>
		</div>
		
		<div class="jkt-page-footer-text-links">
			<ul>
				<li>
					{% include jkt-site/components/links/about-text-link.html %}
				</li>
				<li>
					{% include jkt-site/components/links/blog-text-link.html %}
				</li>
			</ul>
		</div>
		
		<hr>
		
		<div>
			&copy; <span id="year"></span> Ross Godwin. All Rights Reserved.
		</div>
	</div>
</footer>