<header class="jkt-page-header">
	<div class="jkt-page-header-wrapper">
		<div class="jkt-page-header-title">
			<h1 class="jkt-heading-vertical-bar">{{ site.data.jkt-site.page-header.title }}</h1>
			
			<button class="jkt-page-header-menu-toggler" type="button" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		
		<nav class="jkt-page-header-navigation">
			<ul>
				{% for item in site.data.jkt-site.page-header.menu %}
					{% include jkt-module-commons/helpers/starts-with.html string=page.url starts-with=item.url %}
					<li class="{% if __return == true %}active{% endif %}">
						<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				<li class="jkt-page-header-navigation-item-separator">
					|
				</li>
				<li>
					{% include jkt-site/components/icons/fa/my-linkedin-circle-icon-link.html
						target-blank=true
						fa-x=1 %}
				</li>
				<li>
					{% include jkt-site/components/icons/fa/my-github-circle-icon-link.html
						target-blank=true
						fa-x=1 %}
				</li>
			</ul>
		</nav>
	</div>
</header>