.pf-article {
	margin-top: 1rem;
}

.pf-article-header {
}

.pf-article-header-meta {
	margin-bottom: 1rem;
	color: $pf-theme-text-color-light;
	font-size: 0.8125rem;
}

.pf-article-body {
	.image-caption {
		color: $pf-theme-text-color-light;
		font-size: 0.875rem;
		a {
			color: $pf-theme-text-color-light;
			text-decoration: underline;
			&:hover {
				color: $pf-theme-text-color-secondary;
			}
		}
	}
	
	.pf-quote {
		margin-bottom: .5rem;
	}
	
	.blockquote {
		font-family: $pf-font-TimesNewRomand;
		border-left: 2px solid $pf-theme-text-color-primary;
		font-size: 1.5rem;
		p {
			font-size: 1.5rem;
		}
	}
	
	> h1 {
		@extend .pf-heading-line-separator;
	}
	> h2, > h3, > h4, > h5, > h6 {
		@extend .pf-heading-leading-vertical-bar;
		margin-top: 1rem;
	}
	
	h1 {
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 1.4rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
	
	h4 {
		font-size: 1.15rem;
	}
	
	h5 {
		font-size: 1.1rem;
	}
}