.jkt-project-cheapthycable-overview-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	margin-bottom: 1rem;
	padding: 2rem;
}

.jkt-project-cheapthycable-overview-image {
	@extend .jkt-image-responsive;
	max-width: 500px;
	max-height: 500px;
	margin-bottom: 1rem;
	@extend .jkt-align-horizontal-center;
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-project-cheapthycable-overview-grid {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
	}
	
	.jkt-project-cheapthycable-overview-image {
		margin-bottom: 0;
	}
}