.jkt-masonry-grid {
}

.jkt-masonry-grid-item {
	@include themify() {
		border-width: v(grid-item-border-width);
		border-style: v(grid-item-border-style);
		border-color: v(grid-item-border-color);
		border-radius: v(grid-item-border-radius);
		box-shadow: v(grid-item-box-shadow-offset-x) v(grid-item-box-shadow-offset-y) v(grid-item-box-shadow-blur-radius) v(grid-item-box-shadow-spread-radius) v(grid-item-box-shadow-color);
	}
	
	img {
		@include themify() {
			width: v(grid-item-image-width);
			border-style: v(grid-item-image-border-style);
			border-top-left-radius: v(grid-item-image-border-top-left-radius);
			border-top-right-radius: v(grid-item-image-border-top-right-radius);
		}
		margin-bottom: 0px;
	}
	
	margin-bottom: 20px;
	width: 100%;
}

.jkt-masonry-grid-item-body {
	padding: 1.5rem;
	
	.date {
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 0;
	}
}

.jkt-masonry-grid-item-top-delimiter {
	position: relative;
	
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 80%;
		height: 1px;
		margin-left: -40%;
		content: '';
		background: radial-gradient(ellipse at center, #dee4ef 0, rgba(255,255,255,0) 75%);
	}
}

.jkt-masonry-grid-item-footer {
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	span {
		font-size: 0.875rem;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.jkt-masonry-grid-item {
		min-width: 350px;
		width: 45%;
	}
}

@media (min-width: $device-width-breakpoint-large) {
	.jkt-masonry-grid-item {
		width: 50%;
	}
}