---
layout: jkt-site/page
title: &title "Projects"
---

{% include jkt-site/page/body/page-content-header.html title='Projects' %}

<article class="jkt-page-content-main">
	<section class="jkt-page-preview-list">
		{% for project in site.data.jkt-site.career.information-technology.projects.on-the-side %}
			{% include jkt-module-commons/helpers/prepend-baseurl.html path=project.path %}
			{% include jkt-site/components/page-preview.html 
				heading=project.title 
				description=project.description
				url=__return %}
		{% endfor %}
	</section>
</article>