---
layout: rg/page
title: &title "Resume"
head-print-csss:
  - assets/perfolio/css/cv/print.css
---

{% assign jobs = '' | split: '' %}
{% assign jobs = jobs | push: site.data.career.employment.jobs2[site.data.career.employment.job-index.atlatl] %}
{% assign jobs = jobs | push: site.data.career.employment.jobs2[site.data.career.employment.job-index.dunn] %}

{% assign recommendations = '' | split: '' %}
{% assign recommendations = recommendations | push: site.data.career.recommendations.recommendations[site.data.career.recommendations.recommendation-index.ivan] %}

{% assign projects = '' | split: '' %}
{% assign projects = projects | push: site.data.career.information-technology.projects.on-the-side[site.data.career.information-technology.projects.on-the-side-index.cheapthycable] %}

{% include perfolio/page/body/page-content-header.html title='Resume' %}

<section class="pf-page-content-main">
	<article class="pf-cv">
		{% include rg/components/career/cv/header.html
			name=site.data.me.name
			title=site.data.career.information-technology.cv.title
			location=site.data.me.location
			website=site.data.me.website
			linkedin=site.data.me.social.linkedin
			github=site.data.me.social.github %}
		
		<hr>
		
		{% include rg/components/career/cv/introduction.html
			heading=site.data.career.information-technology.cv.intro-heading-text
			description=site.data.career.information-technology.cv.intro %}
		
		{% include rg/components/career/cv/recommendations.html
			heading=site.data.career.information-technology.cv.recommendations-heading-text
			recommendations=recommendations %}
		
		{% include rg/components/career/cv/work-history.html
			heading=site.data.career.information-technology.cv.jobs-heading-text
			jobs=jobs %}
		
		{% include rg/components/career/cv/projects.html
			heading=site.data.career.information-technology.cv.projects-heading-text
			projects=projects %}
		
		{% include rg/components/career/cv/education.html
			heading=site.data.career.information-technology.cv.education-heading-text
			degree=site.data.career.education.bachelors_degree %}
	</article>
	
	<section class="pf-cv-download-options">
		{% include perfolio/components/career/cv/versions.html
			pdf=site.data.career.information-technology.cv.version.pdf
			text=site.data.career.information-technology.cv.version.text %}
	</section>
</section>