---
layout: jkt-site/page
title: &title "Construction"
masonry-grids: true
easy-pie-charts:
  - id: pie-chart
    data-text-id: pie-chart-percent
---

{% assign recommendations = '' | split: '' %}
{% assign recommendations = recommendations | push: site.data.jkt-site.career.recommendations.recommendations[site.data.jkt-site.career.recommendations.recommendation-index.duke] %}

{% capture _header_content %}
	<div>
		{% assign cv-url = 'career/construction/cv' | relative_url %}
		{% include jkt-site/components/icons/fa/resume-circle-icon.html url=cv-url fa-x=1 %}
		{% include jkt-site/components/icons/fa/linkedin-circle-icon.html url=site.data.jkt-site.me.social.linkedin.url target-blank=true fa-x=1 %}
	</div>
{% endcapture %}
{% include jkt-site/page/body/page-content-header.html title='Construction' content=_header_content %}

<article class="jkt-page-content-main">
	<section>
		<h3>Recommendations</h3>
		
		<div>
			<ul class="jkt-list-ul-no-markers">
				{% for recommendation in recommendations %}
					<li>
					{% include jkt-module-commons/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	
	<section>
		<h3>{{ site.data.jkt-site.career.experience.label }}</h3>
		
		{% assign companies = site.data.jkt-site.career.experience.companies | where: 'industry', "Construction" %}
		{% include jkt-site/components/career/experience-grid.html companies=companies %}
	</section>
	
	<section>
		<h3>Skills</h3>
		
		{% assign skills = site.data.jkt-site.career.skills.skills | where_exp: "item", "item.companies contains 'bowman'" | sort: "skill" %}
		{% include jkt-site/components/career/skill-list.html skills=skills %}
	</section>
	
	<div class="jkt-footnotes">
		{% include jkt-site/components/career/skill-proficiency-level-anchors.html %}
	</div>
</article>