---
layout: jkt-site/page
title: &title "Construction"
masonry-grids: true
simple-searches:
  - search-id: construction_skills
    search-textfield-id: construction-skills-search-textfield
    search-results-container-id: construction-skills-results
    search-json-datasource-file-relative-url: /assets/career/construction/datasources/skills.json
    search-results-template-html:
        <div class="jkt-career-construction-skill">
            {topic}&nbsp;&nbsp;|&nbsp;&nbsp;{knowledge-stage}
        </div>
    search-sort-function:
        function(a, b) {
            var astr = String(a.topic);
            var bstr = String(b.topic);
            return astr.localeCompare(bstr);
        }
easy-pie-charts:
  - id: pie-chart
    data-text-id: pie-chart-percent
---

{% assign recommendations = '' | split: '' %}
{% assign recommendations = recommendations | push: site.data.jkt-site.career.recommendations.recommendations[site.data.jkt-site.career.recommendations.recommendation-index.duke] %}

{% capture _header_content %}
	<div>
		{% assign cv-url = 'career/construction/cv' | relative_url %}
		{% include jkt-site/components/icons/fa/resume-circle-icon.html url=cv-url fa-x=1 %}
		{% include jkt-site/components/icons/fa/linkedin-circle-icon.html url=site.data.jkt-site.me.social.linkedin.url target-blank=true fa-x=1 %}
	</div>
{% endcapture %}
{% include jkt-site/page/body/page-content-header.html title='Construction' content=_header_content %}

<article class="jkt-page-content-main">
	<section>
		<h3>Recommendations</h3>
		
		<div>
			<ul class="jkt-list-ul-no-markers">
				{% for recommendation in recommendations %}
					<li>
					{% include jkt-module-commons/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	
	<section>
		<h3>Work History</h3>
		
		{% include jkt-site/components/career/employment-grid.html industry='construction' %}
	</section>
	
	<section style="padding-bottom: 25px;">
		<h3>Skills</h3>
		
		<div>
			<div class="jkt-career-construction-skills-searchbar">
				<input type="text" id="construction-skills-search-textfield" placeholder="Site, Grade, Utilities, ...">
				<a class="jkt-button" role="button" onclick="document.getElementById('construction-skills-search-textfield').value='Beginner'; window.construction_skills.search('Beginner');">Beginner</a>
				<a class="jkt-button" role="button" onclick="document.getElementById('construction-skills-search-textfield').value='Proficient'; window.construction_skills.search('Proficient');">Proficient</a>
				<a class="jkt-button" role="button" onclick="document.getElementById('construction-skills-search-textfield').value='Advanced'; window.construction_skills.search('Advanced');">Advanced</a>
				<a class="jkt-button" role="button" onclick="document.getElementById('construction-skills-search-textfield').value=''; window.construction_skills.noSearch();">Clear</a>
			</div>
			<div id="construction-skills-results" class="jkt-career-construction-skills"></div>
		</div>
	</section>
</article>