{% assign authors = site.data.jkt-site.blog.authors.authors | where: id, include.post.author-id %}
{% assign author = authors[0] %}

{% include jkt-module-commons/helpers/prepend-baseurl.html path=include.post.url %}
{% assign post-url = __return %}
{% assign post-url-array = post-url | remove:'/index.html' | split: '/' | compact %}
{% assign post-url-array-index = post-url-array.size | minus: 2 %}

{% if include.post.description %}
	{% assign post-description = include.post.description %}
{% else if include.post.excerpt %}
	{% assign post-description = include.post.excerpt %}
{% endif %}

<div class="jkt-posts-grid-item">
	<div class="jkt-posts-article-thumbnail">
		<img src="{{ include.post.image-path | relative_url }}" alt="{{ include.post.title }}">
		<div class="jkt-posts-article-badge">{{ post-url-array[post-url-array-index] | capitalize | replace: "-", " " }}</div>
	</div>
	<div class="jkt-posts-article-author-avatar">
		<img src="{{ author.avatar-relative-url | relative_url }}" alt="{{ include.post.title }}">
	</div>
	<div class="jkt-posts-article-body">
		<h5><a href="{{ post-url }}">{{ include.post.title }}</a></h5>
		<p>
			{{ post-description | strip_html }}
		</p>
	</div>
	<div class="jkt-posts-article-footer jkt-posts-article-top-delimiter">
		<span>{{ author.name }}&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;{{ include.post.date | date: "%b %-d, %Y" }}</span>
	</div>
</div>