<!--
	name
	title
	website (optional)
	location
	website (optional)
		url
		display-url
	linkedin (optional)
		url
		display-url
	github (optional)
		url
		display-url
 -->
<section class="pf-cv-header-section">
	<h1>{{ include.name }}</h1>
	<div class="pf-cv-header-job-title">{{ include.title }}</div>
	<div class="pf-cv-header-social-media">
		{% if include.linkedin %}
			<i class="fab fa-linkedin fa-fw fa-lg"></i><a href="{{ include.linkedin.url }}" target="_blank">{{ include.linkedin.display-url }}</a>
			{% if include.github %}
				<span>&#183;</span>
			{% endif %}
		{% endif %}
		{% if include.github %}
			<i class="fab fa-github-square fa-fw fa-lg"></i><a href="{{ include.github.url }}" target="_blank">{{ include.github.display-url }}</a>
		{% endif %}
	</div>
</section>