---
layout: default
pagination:
  enabled: true
  collection: all
  debug: false
---

<div class="rg-page-content">
	{% assign _title = page.autopages.display_name | prepend: 'Articles Tagged: ' %}
	{% include page-content-header.html title=_title content=_header_content %}
	
	<section class="rg-page-content-main">
		<section class="articles">
			{% for _article in paginator.posts %}
				{% assign _date = _article.date | date: "%b %-d, %Y" %}
				{% if _article.summary %}
					{% assign _description = _article.summary %}
				{% else if _article.excerpt %}
					{% assign _description = _article.excerpt %}
				{% endif %}
				
				{% include helpers/prepend-baseurl.html path=_article.url %}
				{% include snippets/list-item-article-preview.html
					heading=_article.title
					date=_date
					description=_description
					url=__return %}
			{% endfor %}
		</section>
		
		{% include snippets/paging-links.html %}
	</section>
</div>