---
layout: page
head-print-csss:
  - assets/css/cv-print.css
---

{% include snippets/layout/page/page-content-header.html title='Resume' %}

<section class="pf-page-content-main">
	<article class="pf-cv-wrapper">
		<section class="pf-cv-header">
			<h4 class="pf-cv-header-title">{{ site.data.cv.name }}</h4>
			<div class="pf-cv-header-tagline">
				{{ site.data.cv.title }}
				<br/>
				{{ site.data.cv.location }}
				{% if site.data.cv.website %}
					<span>&#183;</span>
					<a href="{{ site.data.cv.website.url }}">{{ site.data.cv.website.display-url }}</a>
				{% endif %}
				<br/>
				{% if site.data.cv.linkedin or site.data.cv.github %}
					<div class="pf-cv-text">
						{% if site.data.cv.linkedin %}
							<i class="fab fa-linkedin fa-fw fa-lg"></i><a class="pf-cv-link" href="{{ site.data.cv.linkedin.url }}" target="_blank">{{ site.data.cv.linkedin.display-url }}</a>
							{% if site.data.cv.github %}
								<span>&#183;</span>
							{% endif %}
						{% endif %}
						{% if site.data.cv.github %}
							<i class="fab fa-github-square fa-fw fa-lg"></i><a class="pf-cv-link" href="{{ site.data.cv.github.url }}" target="_blank">{{ site.data.cv.github.display-url }}</a>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</section>
		
		<hr>
		
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.cv.intro-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				<span class="pf-cv-text">
					{{ site.data.cv.intro }}
				</span>
			</div>
		</section>
		
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.cv.recommendations-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				{% for recommendation in site.data.cv.recommendations %}
					{% include snippets/components/quote.html quote=recommendation.quote quote_by=recommendation.by %}
					{% if forloop.last == false %}
						<div class="cv-recommendation-row-gap"></div>
					{% endif %}
				{% endfor %}
			</div>
		</section>
		
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.cv.jobs-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				{% for job in site.data.cv.jobs %}
					<div class="pf-cv-work-history-item">
						<div>
							<div class="pf-cv-work-history-item-employer">
								{% if job.internal-url %}
									<a class="pf-link-arrow" href="{{ job.internal-url | relative_url }}">{{ job.company.name }}</a>
								{% else %}
									{{ job.company.name }}
								{% endif %}
							</div>
							{% for position in job.positions %}
								<div class="pf-cv-work-history-item-position">{{ position.title }}</div>
								<div class="pf-cv-work-history-item-years-worked">{{ position.duration }}</div>
							{% endfor %}
						</div>
						<div class="pf-cv-text">
							{{ job.description }}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.cv.projects-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				{% for project in site.data.cv.projects %}
					<div class="pf-cv-work-history-item">
						<div>
							<div class="pf-cv-work-history-item-employer">
								{% if project.internal-url %}
									<a class="pf-link-arrow" href="{{ project.internal-url | relative_url }}">{{ project.name }}</a>
								{% else %}
									{{ project.name }}
								{% endif %}
							</div>
							<div class="pf-cv-work-history-item-years-worked">{{ project.duration }}</div>
						</div>
						<div class="pf-cv-text">
							{{ project.description }}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		
		<section>
			<div class="pf-cv-section-heading">
				<h4>{{ site.data.cv.education-heading-text }}</h4>
			</div>
			<div class="pf-cv-section-content">
				<div class="pf-cv-work-history-item-employer">{{ site.data.cv.education.school }}</div>
				<div class="pf-cv-work-history-item-position">{{ site.data.cv.education.degree }}</div>
				<div class="pf-cv-work-history-item-years-worked">{{ site.data.cv.education.graduated }}</div>
			</div>
		</section>
	</article>
	
	{% if site.data.cv.download-formats.pdf or site.data.cv.download-formats.txt %}
		<section class="pf-cv-download-options">
			{% if site.data.cv.download-formats.pdf %}
				<a class="pf-button-primary" href="{{ site.data.cv.download-formats.pdf.internal-url | relative_url }}" role="button" target="_blank"><i class="pf-button-left-icon fa fa-file-pdf fa-w-12"></i>{{ site.data.cv.download-formats.pdf.text }}</a>
			{% endif %}
			{% if site.data.cv.download-formats.txt %}
				<a class="pf-button-primary" href="{{ site.data.cv.download-formats.txt.internal-url | relative_url }}" role="button" target="_blank"><i class="pf-button-left-icon fa fa-file-alt fa-w-12"></i>{{ site.data.cv.download-formats.txt.text }}</a>
			{% endif %}
		</section>
	{% endif %}
</section>