

.jkt-linktree-page {
	//height: 100%;
	//width: 100%;
	display: grid;
	//grid-template-columns: 1fr 500px 1fr;
	
	grid-template-areas:
		// h = header
		// b = body
		"h"
		"b";
}

.jkt-linktree-page-header {
	min-height: 200px;
	grid-area: h;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
	
	display: flex;
	align-items: center;
	justify-content: center;
	//justify-items: center;
	flex-direction: column;
	
	img {
		width: 250px;
	}
	
	margin-left: auto;
	margin-right: auto;
}

.jkt-linktree-page-body {
	grid-area: b;
	//height: 100%;
	@include themify() {
		padding-left: v(page-body-left-padding);
		padding-right: v(page-body-right-padding);
	}
}

.jkt-linktree-links {
	//height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
	//justify-self: center;
	//align-self: center;
}

.jkt-linktree-button {

	width: 100%;
	@include applyButtonStyle();
	height: 4rem;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	//justify-self: center;
	//align-self: center;
	
	i {
		margin-right: auto;
	}
	
	span {
		margin-right: auto;
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	//.jkt-linktree-page-header {
	//	min-height: 200px;
	//}
	
	.jkt-linktree-page-body {
		min-width: 680px;
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;
	}
}