<link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
{% if page.include-highlightjs %}
	<link rel="stylesheet" href="{{ 'assets/perfolio/lib/highlightjs/css/monokai-sublime.min.css' | relative_url }}" >
{% endif %}
{% for css in layout.head-csss %}
    <link rel="stylesheet" type="text/css" href="{{ css | relative_url }}">
{% endfor %}
{% for css in layout.head-print-csss %}
	<link rel="stylesheet" type="text/css" href="{{ css | relative_url }}" media="print">
{% endfor %}
{% for css in page.head-csss %}
    <link rel="stylesheet" type="text/css" href="{{ css | relative_url }}">
{% endfor %}