{% if include.id %}
	{% assign gallery = page[include.id] %}
{% else %}
	{% assign gallery = page.gallery %}
{% endif %}

<figure>
	<div class="custom-mfp-gallery">
	{% for image in gallery %}
		{% if image.url %}
			<div {% if image.class %}class="{{ image.class }}"{% endif %}>
				<a href="{{ image.url | relative_url }}" {% if image.title %}title="{{ image.title }}"{% endif %}>
					<img src="{{ image.image_path | relative_url }}" alt="{% if image.alt %}{{ image.alt }}{% endif %}">
				</a>
			</div>
		{% else %}
			<div {% if image.class %}class="{{ image.class }}"{% endif %}>
				<img src="{{ image.image_path | relative_url }}" alt="{% if image.alt %}{{ image.alt }}{% endif %}">
			</div>
		{% endif %}
	{% endfor %}
	</div>
	{% if include.caption %}
		<figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
	{% endif %}
</figure>