{% assign body-footer-scripts = '' | split: '' %}
{% assign doc-ready = false %}

{% assign body-footer-scripts = body-footer-scripts | push: 'assets/jkt-module-commons/js/scripts.js' %}

{% if page.include-highlightjs %}
	{% assign body-footer-scripts = body-footer-scripts | push: 'assets/jkt-module-commons/lib/highlightjs/js/highlight-10.0.3.min.js' %}
{% endif %}

{% if page.galleries %}
	{% assign doc-ready = true %}
	
	{% assign body-footer-scripts = body-footer-scripts | push: 'assets/jkt-module-commons/lib/justifiedgallery/js/jquery.justifiedGallery.min.js' %}
	{% assign body-footer-scripts = body-footer-scripts | push: 'assets/jkt-module-commons/lib/lightgallery/js/lightgallery-all.min.js' %}
{% endif %}

{% if page.masonry-grids %}
	{% assign body-footer-scripts = body-footer-scripts | push: 'assets/jkt-module-commons/lib/masonry-layout4/js/masonry.pkgd.min.js' %}
{% endif %}

{% if layout.body-footer-scripts %}
	{% assign body-footer-scripts = body-footer-scripts | push: layout.body-footer-scripts %}
{% endif %}
{% if page.body-footer-scripts %}
	{% assign body-footer-scripts = body-footer-scripts | push: page.body-footer-scripts %}
{% endif %}

{% assign body-footer-scripts = body-footer-scripts | uniq %}
{% for script in body-footer-scripts %}
	<script src="{{ script | relative_url }}" type="text/javascript"></script>
{% endfor %}

{% if doc-ready == true %}
	<script>
		$(document).ready(function() {
			{% for gallery in page.galleries %}
				{% if gallery.type == 'dynamic' %}
					$('#{{ gallery.id }}').on('click', function() {
						$(this).lightGallery({
							dynamic: true,
							dynamicEl: [
								{% for image in gallery.images %}
									{
										'src': '{{ image.url | relative_url }}',
										'thumb': '{{ image.thumbnail_url | relative_url }}'{% if image.html_content %},{% endif %}
										{% if image.html_content %}
											'subHtml' : '{{ image.html_content }}'
										{% endif %}
									}{% if forloop.last != true %},{% endif %}
								{% endfor %}
							]
						})
					});
				{% elsif gallery.type == 'thumbnails' %}
					{% assign thumbnail-properties = '' | split: '' %}
					{% if gallery.thumbnail-properties %}
						{% if gallery.thumbnail-properties.rowheight %}
							{% assign property = gallery.thumbnail-properties.rowheight | prepend: 'rowHeight:' %}
							{% assign thumbnail-properties = thumbnail-properties | push: property %}
						{% endif %}
						{% if gallery.thumbnail-properties.margins %}
							{% assign property = gallery.thumbnail-properties.margins | prepend: 'margins:' %}
							{% assign thumbnail-properties = thumbnail-properties | push: property %}
						{% endif %}
					{% endif %}
					
					$('#{{ gallery.id }}').lightGallery({
						thumbnail: true
					});
					$('#{{ gallery.id }}').justifiedGallery(
						{% if thumbnail-properties.size > 0 %}
							{
								{{ thumbnail-properties | join: ", " }}
							}
						{% endif %}
					);
				{% endif %}
			{% endfor %}
		});
	</script>
{% endif %}